{% extends "app/base.html" %}

{% block nombre %}     
<title>Area Administrador</title> 
{% endblock %}

<!-- {% block nombre_usuario%}
    <h2>ADMINISTRADOR</h2>
{% endblock %} -->



{% comment %}
    CONTENIDO
{% endcomment %}
{% block contenido %}        
<div class="contenido">
</div>
{% endblock%}              



<!-- Botones de menu -->
{% block menu %}    
<div class="menu">
    <div class="btnGrupos">
        <h2>Grupos</h2>
        <div class="groups">
            <a href="{% url 'app:form_crear_grupos'%}"> Crear Grupo</a>
            <a href="{% url 'app:ver_lista_grupos'%}"> Listado de Grupos</a>
        </div>
    </div>

    <div class="btnTeachers">
        <h2>Profesores</h2>
        <div class="teachers">
            <a href="{% url 'app:form_crear_profesor'%}"> Crear Profesor</a>
            <a href="{% url 'app:lista_docentes'%}"> Listado Docentes</a>
        </div>
    </div>
    
    <div class="btnEstudiantes">
        <h2>Estudiantes</h2>
        <div class="students">
            <a href="{% url 'app:form_crear_estudiante'%}"> Crear estudiante</a>
            <a href="{% url 'app:listado_estudiantes'%}"> Listado Estudiantes</a>
        </div>
    </div>
</div>
{% endblock %}  



    {% comment %}
        defer espera DOM y carga js
        {% block js %}
        <script src="{% static 'app/js/funcionamiento.js' %}" defer></script>
        {% endblock %}
    {% endcomment %}
    
