{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block nombre %}      
    {% endblock%}     

    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300;1,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="{% static 'app/css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/tabla2.css' %}"> 
    <link rel="stylesheet" href="{% static 'app/css/header2.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/footer.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    referrerpolicy="no-referrer" />
    
    {% block js %}     
    {% endblock%}  
</head>


<body>
    <div class="contenedor">
        {% comment %}
            HEADER
        {% endcomment %}
        <div class="header">
            <a href="{% url 'app:form_login' %}">
                <img src="{% static  'app/img2/logo-blanco-ok.png' %}" alt="Logo Universidad">
            </a>
            {% if request.user.is_authenticated %}
            <a href="{% url 'app:cerrar_sesion' %}" class="btn"><span id="span1"></span>Cerrar Sesión</a>
            {% else %}
            <a href="{% url 'app:form_login' %}" class="btn"><span id="span1"></span>Iniciar Sesión</a>
            {% endif %}
        </div>


{% comment %}
    PERFIL
{% endcomment %}
        <div class="perfil">
            <div class="seccionUno">
                <img src="{% static  'app/img2/imagenperfil.jpg' %}" alt="foto">
                {% block nombre_usuario %}
                    {{request.user.first_name}} {{request.user.last_name}}               
                {% endblock %}
                
            </div>
            <div class="seccionDos"> 
                <a href="https://mail.google.com/" target="_blank" class="correo">
                    <span id="span2"></span>
                    Correo  Institucional
                </a>
                <br>
                <a href="https://aulavirtual.usantotomas.edu.co/" target="_blank" class="aulas">
                    <span id="span3"></span>
                    Aulas Virtuales
                </a>
                <br>
            </div>
        </div>



    {% block contenido %}      
        {% block contenido1 %}
        {% endblock %}


    {% endblock %}     



{% block menu %}
{% endblock %} 
    <div class="footer">
            <h3> Creado por Juan Diego Toro  y Paulo Cesar Mariño</h3>
        </div>
    </div>
</body>

</html>