{% extends "app/base.html" %}
{% load static %}
{% block nombre %}     
<title>Area Docentes</title> 
{% endblock%}

<!-- -----------------------------------fin perfil------------------------------------------ -->
<!----------------------------------contenido---------------------------------------------------- -->
{% block contenido %}    
<div class = contenido>
    <h1 class="titulo">Sección de docente</h1>
    <h2 class ="subtitulo"> Bienvenidos</h2>
    <hr>
    <p> En esta seccion vamos a poder crear una actividad para la seccion de los docentes donde un profesor 
        va a poder crear una entrega para sus alumnos de una actividad como un taller, tarea, parcial o de un foro participativo.
        la cual va a ser calificada por el docente en otra seccion de la pagina.
    </p>
    <br>
    <hr>
    <h1>Calificar actividad </h1>
    
    <p>Permite a un profesor crear una actividad. Los datos para crear la actividad son:
        el id de la actividad y el id del grupo
    </p>
    <h4> Si el docente lo desea puede crear una de las actividades ya predeterminadas de las cuales 
        puede escoger taller,tarea, parcial, foro de opinion, quiz.
    </h4><hr>
    <h2>Busqueda realizada:</h2>
    <h1>Clase: {{ materias3.asignatura }}</h1>
    <h4>Codigo: {{ materias3.codigo }}</h4>
    <h2>Semestre: {{ materias3.semestre }}</h2>
    <table>
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>id actividad</th>
            </tr>
        </thead>
        <tbody>
            {% for actividad in materias3.actividades.all %}
            <tr>
                <td>{{ actividad.descripcion }}</td>
                <td>{{ actividad.id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<br>
<p>Los estudiantes que pertenecen a este grupo son:</p><br>
    <h1>Lista de estudiantes</h1>
    <p>a continuacion vamos a ver una lista de estudiantes inscritos en el curso para este semestre.
    </p>
    <table>
        <thead>
            <tr>
                <th>Nombre estudiante</th>
                <th>Apellido estudiante</th>
                <th>Correo Institucional</th>
                <th>Nota</th>
            </tr>
        </thead>
        <tbody>
            {% for actividad in materias3.grupos.all %}
            <tr>
                <td>{{ actividad.estudiante.user.first_name }}</td>
                <td> {{ actividad.estudiante.user.last_name }}</td>
                <td> {{ actividad.estudiante.user.email }}</td>
                <td>{{ actividad.nota.valor }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
<br><br>    
<form action="{% url 'app:calificar_actividad' %}" method="POST">
    {% csrf_token %}
    <label>Escoger la actividad a calificar:</label>
    <br><br>
    <select name="actividad">
        {% for caso2 in actividades %}
        <option value="{{caso2.id}}">{{ caso2.descripcion }}</option>
        {% endfor %}
    </select>
<br><br>
    <label>Escoger estudiante a calificar:</label> 
    <select name="estudiante">
        {% for tarea in estudiante_grupo %}
        <option value="{{tarea.user.id}}">{{tarea.user.first_name}} {{tarea.user.last_name}}</option>
        {% endfor %}
    </select>
    <br><br><br>
</div>
{% endblock%}         

<!-- ---------------------------------- fin contenido--------------------------------------- -->
<!----------------------------------------menu---------------------------------------------- -->
{% block menu%}       
<div class="menu">
    <div id="sidebar">
        <h2>Menu</h2>
        <ul>  
            <li> <a href="{% url 'app:docente'  %}">Mas informacion</a></li>
            <li><a href="{% url 'app:profe_crear_actividad'  %}">Crear Actividad</a></li>
            <li><a href="{% url 'app:profe_editar_actividad'  %}">Editar Actividad</a></li>  
            <li><a href="{% url 'app:profe_ver_actividad'  %}">ver actividad</a></li>
            <li> <a href="{% url 'app:profe_calificar_actividad'  %}">Calificar Actividad</a></li>
            <li><a href="{% url 'app:profe_verlista_grupos'  %}">Ver lista de grupos</a></li>
            <li><a href="{% url 'app:profe_ver_lista_grupo'  %}">Ver grupo</a></li>       
            <li><a href="{% url 'app:profe_ver_estudiante'  %}">Ver estudiante</a></li>  
        </ul>
    </div>
</div> 
{% endblock%}     
<!-- -----------------------------------------------fin del menu---------------------------- -->
