{% extends "app/base.html" %}
{% block nombre %}     
<title>Area Docentes</title> 
{% endblock%}
<!-- -----------------------------------fin perfil------------------------------------------ -->
<!----------------------------------contenido---------------------------------------------------- -->
{% block contenido %}    
<div class="contenido">
    <h1 class="titulo">Sección de docente</h1>
    <h2 class ="subtitulo"> Bienvenidos</h2>
    <br>    
    <h3> <p class="texto">
        En esta sección vamos a apreciar de diferentes contenidos estos se pueden explorar en las siguientes secciones. 
        <br><br>
        1. Crear Actividad: En esta sección vamos a crear una actividad para el grupo.<br></br>
        2. Editar Actividad:  En esta sección se puede crear una Actividad. <br><br>
        3. Ver Grupo: Aca podemos ver los grupos inscritos. <br><br> 
        3. ver actividad: ver actividad programada <br> <br>
        4. ver Estudiante: Aca podemos ver una lista de participantes por cada uno de los grupos inscritos. <br><br>
        5. Mas informacion: en esta vamos a ver la descripcción de la funcion de las paginas.
    </p>
</h3>
</div>    
{% endblock%}             

<!-- ---------------------------------- fin contenido--------------------------------------- -->
<!----------------------------------------menu---------------------------------------------- -->
{% block menu%}       
<div class="menu">
    <div id="sidebar">
        <h2>Menu</h2>
        <ul>  
            <li> <a href="{% url 'app:docente'  %}">Mas informacion</a></li>
            <li><a href="{% url 'app:profe_crear_actividad'  %}">Crear Actividad</a></li>
            <li><a href="{% url 'app:profe_editar_actividad'  %}">Editar Actividad</a></li>  
            <li><a href="{% url 'app:profe_ver_actividad'  %}">ver actividad</a></li>
            <li> <a href="{% url 'app:profe_calificar_actividad'  %}">Calificar Actividad</a></li>
            <li><a href="{% url 'app:profe_verlista_grupos'  %}">Ver lista de grupos</a></li>
            <li><a href="{% url 'app:profe_ver_lista_grupo'  %}">Ver grupo</a></li>       
            <li><a href="{% url 'app:profe_ver_estudiante'  %}">Ver estudiante</a></li>  
        </ul>
    </div>
</div> 
{% endblock%}  
<!-- -----------------------------------------------fin del menu---------------------------- -->
     