{% extends "app/base.html" %}

{% block nombre %}     
<title>Eliminar Grupo</title> 
{% endblock %}

{% block nombre_usuario%}
    <h2>ADMINISTRADOR</h2>
{% endblock %}

{% block contenido %} 
<div class="contenido">
    {% comment %}
        <!-- MODIFICAR ESTUDIANTE -->
    {% endcomment %}


    <form id="editarEstudiante" class="editarEstudiante">
        <h1>MODIFICAR ESTUDIANTES</h1>
        
        <label for="idGrupo">Id del estudiante a modificar: *</label>
        <input type="text" id="idGrupo" name="idGrupo">

        <label for="codigoGrupo">Código: *</label>
        <input type="text" id="codigoGrupo" name="codigoGrupo">
        
        <label for="asignaturaEdit">Apellidos: *</label>
        <input type="text" id="asignaturaEdit" name="asignaturaEdit">
        
        <label for="semestreEdit">Nombres *</label>
        <input type="text" id="semestreEdit" name="semestreEdit">
        
        <label for="profesorEdit">Email: *</label>
        <input type="text" id="profesorEdit" name="profesorEdit">
        
        <button class="guardar">Guardar</button>
        
        <a href="{% url 'app:administrador'%}" class="resetEditarEstu">Cerrar</a> 
    </form>
</div>
{% endblock %} 


{% block menu %}
<div class="menu">
    <div class="btnGrupos">
        <h2>Grupos</h2>
        <div class="groups">
            <a href="{% url 'app:form_crear_grupos'%}"> CREAR GRUPOS</a>
            <a href="{% url 'app:editar_grupoAdmi'%}"> EDITAR GRUPOS</a>
            <a href="{% url 'app:ver_lista_grupos'%}"> LISTADO DE GRUPOS</a>
            <a href="{% url 'app:ver_grupos_admin'%}"> VER LISTA DE GRUPOS</a>
            <a href="{% url 'app:eliminar_grupos_admin'%}"> ELIMINAR GRUPO</a>
            <a href="{% url 'app:agregar_estudiante_grupo'%}"> AGREGAR ESTUDIANTE A GRUPO</a>
        </div>

    </div>

    <div class="btnProfesores">
        <div class="btnTeachers">
            <h2>Profesores</h2>
            <div class="teachers">
                <a href="{% url 'app:crear_profesor'%}"> CREAR PROFESOR</a>
                <a href="{% url 'app:lista_profesores'%}"> LISTADO DOCENTES</a>
                <a href="{% url 'app:ver_profesor'%}"> VER DOCENTE</a>
            </div>
        </div>
    </div>
    
    <div class="btnEstudiantes">
        <h2>Estudiantes</h2>
        <div class="students">
            <a href="{% url 'app:crear_estudiante'%}"> CREAR ESTUDIANTE</a>
            <a href="{% url 'app:listado_estudiantes'%}"> LISTADO ESTUDIANTES</a>
            <a href="{% url 'app:editar_estudiantes'%}"> EDITAR ESTUDIANTES</a>

        </div>

    </div>
</div>
{% endblock %}  