{% extends "app/base.html" %}

{% block nombre %}     
<title>Editar Grupo</title> 
{% endblock %}

{% block nombre_usuario%}
    <h2>ADMINISTRADOR</h2>
{% endblock %}

{% block contenido %} 
<div class="contenido">
    <div class="contenido_editGrupo">
        <h2>DATOS ANTERIORES</h2>
    
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Código de Grupo</th>
                <th>Asignatura</th>
                <th>Profesor</th>
                <th>Cantidad Estudiantes</th>
            </tr>
            </thead>

        <tbody>
            <tr>
                <td>{{grupo.id}}</td>
                <td>{{grupo.codigo}} </td>
                <td>{{grupo.asignatura}}</td>
                <td>{{grupo.profesor}} </td>
                <td>anda sola </td>
            </tr>
        </tbody>
    </table>


    <form class="editarGrupo" action="{% url 'app:crear_grupo' %}" method ="POST">
        {% csrf_token %}
        <h1>Modificar Grupo:</h1>
        <br>
        <label for="codigoGrupo">Código de grupo: * </label>
        <input type="text" id="codigoGrupo" name="codigoGrupo">
        <br>
        <label for="asignaturaEdit">Asignatura: * </label>
        <input type="text" id="asignaturaEdit" name="asignaturaEdit">
        <br>
        <label for="semestreEdit">Semestre: * </label>
        <input type="text" id="semestreEdit" name="semestreEdit">
        <br>
        <label for="profesorEdit">Profesor: </label>
        <input type="text" id="profesorEdit" name="profesorEdit">
        <br>
        <div class="btnEdiGrupo">
            <input type="button" value="Guardar" class="submitEditGroup" >
            <a href="{% url 'app:ver_lista_grupos'%}">Cerrar</a>
        </div>
    </form>
    </div>
</div>
{% endblock %} 


{% block menu %}
<div class="menu">
    <div class="btnGrupos">
        <h2>Grupos</h2>
        <div class="groups">
            <a href="{% url 'app:form_crear_grupos'%}"> Crear Grupo</a>
            <a href="{% url 'app:ver_lista_grupos'%}"> Listado de Grupos</a>
        </div>

    </div>

    <div class="btnProfesores">
        <div class="btnTeachers">
            <h2>Profesores</h2>
            <div class="teachers">
                <a href="{% url 'app:crear_profesor'%}"> Crear Profesor</a>
                <a href="{% url 'app:lista_docentes'%}"> Listado Docentes</a>
            </div>
        </div>
    </div>
    
    <div class="btnEstudiantes">
        <h2>Estudiantes</h2>
        <div class="students">
            <a href="{% url 'app:form_crear_estudiante'%}"> Crear Estudiante</a>
            <a href="{% url 'app:listado_estudiantes'%}"> Listado Estudiantes</a>

        </div>

    </div>
</div>
{% endblock %}  