{% extends "app/base.html" %}

{% block nombre %}     
<title>Eliminar Grupo</title> 
{% endblock %}

{% block nombre_usuario%}
    <h2>ADMINISTRADOR</h2>
{% endblock %}

{% block contenido %} 
<div class="contenido">
    {% comment %}
        <!-- ELIMINAR GRUPO  -->
    {% endcomment %}

    <div id="eliminarGrupo" class="eliminarGrupo">
        <h1>Eliminar Grupo </h1>
        <br>
        <h2>¿Está seguro de eliminar el grupo {{grupo.id}} asignatura "{{grupo.asignatura}}"?</h2>
        <br>
        <a href="{% url 'app:eliminar_grupos_admin_post' grupo.id %}" class="a2">Eliminar</a>
        <a href="{% url 'app:ver_lista_grupos' %}" class="a1">Cancelar</a>
    </div>
</div>
{% endblock %} 


{% block menu %}
<div class="menu">
    <div class="btnGrupos">
        <h2>Grupos</h2>
        <div class="groups">
            <a href="{% url 'app:form_crear_grupos'%}"> Crear Grupos</a>
            <a href="{% url 'app:ver_lista_grupos'%}"> Listado de Grupos</a>
        </div>

    </div>

    <div class="btnProfesores">
        <div class="btnTeachers">
            <h2>Profesores</h2>
            <div class="teachers">
                <a href="{% url 'app:crear_profesor'%}"> Crear Docente</a>
                <a href="{% url 'app:lista_docentes'%}"> Listado Docentes</a>
            </div>
        </div>
    </div>
    
    <div class="btnEstudiantes">
        <h2>Estudiantes</h2>
        <div class="students">
            <a href="{% url 'app:form_crear_estudiante'%}"> Crear Estudiante</a>
            <a href="{% url 'app:listado_estudiantes'%}"> Listado Estudiantes</a>

        </div>

    </div>
</div>
{% endblock %}  