{% extends "app/base.html" %}
{% load static %}
{% block nombre %}     
<title>Area estudiante</title> 
{% endblock%}

<!-- -----------------------------------fin perfil------------------------------------------ -->
<!----------------------------------contenido---------------------------------------------------- -->
{% block contenido %}  
<div class="contenido">
    <h1 class="titulo">Sección de Estudiantes</h1>
    <h2 class ="subtitulo"> Bienvenidos</h2>
    <h1> Buscar grupo </h1> 
    <hr>
    <br>
    <p> al haberse registrado en la pagina con los datos de la base de datos y del estudiante le permite a un estudiante ver la 
        lista de grupos matriculados y disponibles para el en este semestre sin necesidad de editar o cambiar los datos ya registrados
        
    </p>
    
        <h1> busqueda realizada:</h1>
        
    <p> en la siguiente busqueda vamos a poder visualizar los datos del estudiante como apellidos, nombres, email, lista de actividades, descripccion de la actividad y nota </p>
    <br>               
    <hr>
    <table>
        <thead>
            <th>Codigo</th>
            <th>Semestre </th>
            <th> Asignatura </th>
            <th> Nombre profesor</th>
            <th>Ver lista de notas</th>
        </thead>
        {% for clases in materias %}
        <tbody>
            <td>
                {% if clases.grupo.codigo %}
                {{ clases.grupo.codigo }}
                {% endif %}
            </td>
            <td>
                {% if clases.grupo.semestre %}
                {{ clases.grupo.semestre }}
                {% endif %}
            </td>
            <td>
                {% if clases.grupo.asignatura %}
                {{ clases.grupo.asignatura }}
                {% endif %}
            </td>
            <td>{{ clases.grupo.profesor.user.first_name }} {{ clases.grupo.profesor.user.last_name }}</td>
            <td>
                <a href="{% url 'app:clases' clases.id %}"><i class="fas fa-eye"></i></a>
            </td>
        </tbody>
        {% endfor %}
    </table>
<br><br>
<a href="{% url 'app:estudiante'  %}">Volver</a> 
<br> <br>
</div>
{% endblock%}             
<!-- ---------------------------------- fin contenido--------------------------------------- -->
<!----------------------------------------menu---------------------------------------------- -->
{% block menu %} 
<div class="menu">
    <div id="sidebar">
        <h2>Menu</h2>
        <ul>  
            <li> <a href="{% url 'app:estudiante'  %}">Mas informacion</a></li>
            <li><a href="{% url 'app:estudiante_ver_lista_grupos'  %}">Ver  lista de Grupo</a></li>
            <li><a href="{% url 'app:estudiante_ver_grupo'  %}">Ver   Grupo</a></li>              
        </ul>
    </div>
</div>
{% endblock%}    

<!-- -----------------------------------------------fin del menu---------------------------- -->