{% extends "app/base.html" %}
{% block nombre %}     
<title>Area Estudiante</title> 
{% endblock%}
<!-- -----------------------------------fin perfil------------------------------------------ -->
<!----------------------------------contenido---------------------------------------------------- -->
{% block contenido %}        
<div class="contenido">
    <h1 class="titulo">Sección de Estudiantes</h1>
    <h2 class ="subtitulo"> Bienvenidos</h2>
    <br>    
    <h3> <p class="texto">
        En esta sección vamos a apreciar de diferentes contenidos estos se pueden explorar en las siguientes secciones. 
        <br><br>
        1. Ver Docentes: En esta sección vamos a ver una lista de docentes por semestre. <br>
        2. Inscribir Grupo:  En esta sección vamos a encontrar la listo de grupos ofertados para los estudiantes. <br><br>
        3. Ver Grupo: Aca podemos ver los grupos inscritos. <br><br> 
        4. ver Participantes: Aca podemos ver una lista de participantes por cada uno de los grupos inscritos.
    </p>
</h3>
<br>
</table>
<br><br>
</div>
{% endblock%} 
<!-- ---------------------------------- fin contenido--------------------------------------- -->
<!----------------------------------------menu---------------------------------------------- -->
{% block menu %} 
<div class="menu">
    <div id="sidebar">
        <h2>Menu</h2>
        <ul>  
            <li> <a href="{% url 'app:estudiante'  %}">Mas informacion</a></li>
            <li><a href="{% url 'app:estudiante_ver_lista_grupos'  %}">Ver  lista de Grupo</a></li>
            <li><a href="{% url 'app:estudiante_ver_grupo'  %}">Ver   Grupo</a></li>              
        </ul>
    </div>
</div>
{% endblock%}    
<!-- -----------------------------------------------fin del menu---------------------------- -->