{% extends "app/base.html" %}
{% block nombre %}     
<title>Area Estudiante</title> 
{% endblock%}
<!-- -----------------------------------fin perfil------------------------------------------ -->

<!-- Contenido -->
{% block contenido %}  
<div class="contenido">
    <h1 class="titulo">Sección de Estudiantes</h1>
    <h2 class ="subtitulo"> Bienvenidos</h2>
    <br>  
    <p>A continuacion puede ver una lista de grupos los cuales corresponden a sus gurpos matriculados:</p>  
    <table>
        <thead>
            <th>Codigo grupo</th>
            <th>Semestre</th>
            <th>Asignatura</th>
        </thead>
        {% for materia in materias %}
        <tbody>
            <td>{{ materia.grupo.codigo }}</td>
            <td>{{ materia.grupo.semestre }}</td>
            <td>{{ materia.grupo.asignatura }}</td>
        </tbody>
        {% endfor %}
    </table>
    <br>
    <p>Los grupos proximos a matricular son estan a continuacion para continuar viendo estos grupos
        porfavor de click en el boton "Ver mas", si no le sale disponible por favor espere a que se acabe el 
        semestre y las notas esten subidas al sistema academico si no, porfavor comuniquese con un acesor. 
        Solo saldran mas grupos disponibles si usted los tiene disponibles actualmente o los esta cursando.
    </p>
    <br>
<a href="#"> <input disabled type="submit" value="Ver mas" ></a>
<a href="{% url 'app:estudiante'  %}"> <input type="submit" value="Volver" ></a>
<br><br>
</div>      
{% endblock%}            

<!-- ---------------------------------- fin contenido--------------------------------------- -->
<!----------------------------------------menu---------------------------------------------- -->
{% block menu %} 
<div class="menu">
    <div id="sidebar">
        <h2>Menu</h2>
        <ul>  
            <li> <a href="{% url 'app:estudiante'  %}">Mas informacion</a></li>
            <li><a href="{% url 'app:estudiante_ver_lista_grupos'  %}">Ver  lista de Grupo</a></li>
            <li><a href="{% url 'app:estudiante_ver_grupo'  %}">Ver   Grupo</a></li>              
        </ul>
    </div>
</div>
{% endblock%}              
<!-- -----------------------------------------------fin del menu---------------------------- -->
        