{% extends "app/base.html" %}
{% load static %}
{% block nombre %}     
<title>Area estudiante</title> 
{% endblock%}

<!-- -----------------------------------fin perfil------------------------------------------ -->
<!----------------------------------contenido---------------------------------------------------- -->
{% block contenido %}  
<div class="contenido">
    <h1 class="titulo">Sección de Estudiantes</h1>
    <h2 class ="subtitulo"> Bienvenidos</h2>
    <h1> Buscar grupo </h1> 
    <hr>
    <br>
    <p>Al haberse registrado en la pagina con los datos de la base de datos y del estudiante le permite a un estudiante ver la 
        lista de grupos matriculados y disponibles para el en este semestre sin necesidad de editar o cambiar los datos ya registrados
        
    </p>
        <h1> busqueda realizada:</h1>
        
    <p> En la siguiente busqueda vamos a poder visualizar los datos del estudiante
        en la materia como lo son las notas, y las actividades. </p>
    <br>               
    <hr>
    <h1>Clase: {{ clases.grupo.asignatura }}</h1>
    <h4>Codigo: {{ clases.grupo.codigo }}</h4>
    <h4>Profesor: {{ clases.grupo.profesor.user.first_name }} {{ clases.grupo.profesor.user.last_name }}</h4>
    <h2>Semestre: {{ clases.grupo.semestre }}</h2>
    <p>La cantidad de actividades actualmente de la materia 
        es {{ clases.grupo.actividades.count }} le recomendamos estar actualizando la pagina
    por si  su docente actualiza la base de datos o realiza una actividad</p>
    <br><br>
    {% if clases.grupo.actividades.count > 0 %}
    <table>
        <thead>
            <tr>
                <th>Descripccion</th>
                <th>Nota</th>
            </tr>
        </thead>
        <tbody>
            {% for actividad in clases.grupo.actividades.all %}
            <tr>
                <td>{{ actividad.descripcion }}</td>
                <td>{{ actividad.nota.valor }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
<br><br>
<a href="{% url 'app:estudiante'  %}">Volver</a> 
<br> <br>
</div>
{% endblock%}             
<!-- ---------------------------------- fin contenido--------------------------------------- -->
<!----------------------------------------menu---------------------------------------------- -->
{% block menu %} 
<div class="menu">
    <div id="sidebar">
        <h2>Menu</h2>
        <ul>  
            <li> <a href="{% url 'app:estudiante'  %}">Mas informacion</a></li>
            <li><a href="{% url 'app:estudiante_ver_lista_grupos'  %}">Ver  lista de Grupo</a></li>
            <li><a href="{% url 'app:estudiante_ver_grupo'  %}">Ver   Grupo</a></li>              
        </ul>
    </div>
</div>
{% endblock%}    

<!-- -----------------------------------------------fin del menu---------------------------- -->