{% extends "app/base.html" %}
{% load static %}
{% block nombre %}     
<title>Area docente</title> 
{% endblock%}

<!-- -----------------------------------fin perfil------------------------------------------ -->
<!----------------------------------contenido---------------------------------------------------- -->
{% block contenido %}  
<div class="contenido">
    <h1 class="titulo">Sección de Docente</h1>
    <h2 class ="subtitulo"> Bienvenidos</h2>
    <hr>
    <p> En esta seccion vamos a poder crear una actividad para la seccion de los docentes donde un profesor 
        va a poder crear una entrega para sus alumnos de una actividad como un taller, tarea, parcial o de un foro participativo.
        la cual va a ser calificada por el docente en otra seccion de la pagina.
    </p>
    <br>
    <hr>
    <h1>Crear actividad </h1>
    <p>Permite a un profesor crear una actividad. Los datos para crear la actividad son:
        el id de la actividad y el id del grupo.
    </p>
    <hr>
    <h1>Clase: {{ materia.asignatura }}</h1>
    <h4>Codigo: {{ materia.codigo }}</h4>
    <h2>Semestre: {{ materia.semestre }}</h2>
    <p>La cantidad de actividades actualmente de la materia 
        es {{ materia.actividades.count }} le recomendamos estar actualizando la pagina
    por si realiza una actividad</p>
    <br><br>
    <form action="{% url 'app:crear_actividad' %}" method="POST">
        {% csrf_token %}
        <label>Crear Actividad :</label> 
        <input type="text" name="descripcion"><br>
        <br>
        <label>Escoger grupo de la actividad :</label> 
        <select name="categoria">
            {% for tarea in clase %}
            <option value="{{tarea.id}}">{{tarea.asignatura}}</option>
            {% endfor %}
        </select>
<br><br>
        <button>Crear Actividad</button>
    </form>
<br><br>
{% if materia.actividades.count > 0 %}
    <table>
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Grupo</th>
            </tr>
        </thead>
        <tbody>
            {% for actividad in materia.actividades.all %}
            <tr>
                <td>{{ actividad.descripcion }}</td>
                <td>{{ actividad.grupo.codigo }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <br><br>
<a href="{% url 'app:docente'  %}">Volver</a> 
<br> <br>
</div>
{% endblock%}             
<!-- ---------------------------------- fin contenido--------------------------------------- -->
<!----------------------------------------menu---------------------------------------------- -->
{% block menu%}       
<div class="menu">
    <div id="sidebar">
        <h2>Menu</h2>
        <ul>  
            <li> <a href="{% url 'app:docente'  %}">Mas informacion</a></li>
            <li><a href="{% url 'app:profe_crear_actividad'  %}">Crear Actividad</a></li>
            <li><a href="{% url 'app:profe_editar_actividad'  %}">Editar Actividad</a></li>  
            <li><a href="{% url 'app:profe_ver_actividad'  %}">ver actividad</a></li>
            <li> <a href="{% url 'app:profe_calificar_actividad'  %}">Calificar Actividad</a></li>
            <li><a href="{% url 'app:profe_verlista_grupos'  %}">Ver lista de grupos</a></li>
            <li><a href="{% url 'app:profe_ver_lista_grupo'  %}">Ver grupo</a></li>       
            <li><a href="{% url 'app:profe_ver_estudiante'  %}">Ver estudiante</a></li>  
        </ul>
    </div>
</div> 
{% endblock%}  

<!-- -----------------------------------------------fin del menu---------------------------- -->