{% extends "app/base.html" %}

{% block nombre %}     
<title>Crear Estudiante</title> 
{% endblock %}

{% block nombre_usuario%}
    <h2>ADMINISTRADOR</h2>
{% endblock %}

{% block contenido %} 

<div class="contenido">
    <form id="crearEstudiante" class="crearEstudiante">
        <h1>Crear estudiante</h1>

        <label for="apellido1">Apellidos: *</label>
        <input type="text" name="apellido1">
        
        <label for="nombre1">Nombres: *</label>
        <input type="text" name="nombres1">
        
        <label for="email1">Email: *</label>
        <input type="text" name="apellido1">

        <label for="codigo1">Código: *</label>
        <input type="text" name="codigo1">

        <label for="password1">contraseña: *</label>
        <input type="password" name="password1">
        <br>
        <button class="creaEstu">Crear</button>
        <a href="{% url 'app:administrador'%}" class="resetCreaEstu">Cerrar</a>
    </form>
</div>
{% endblock %} 


{% block menu %}
<div class="menu">
    <div class="btnGrupos">
        <h2>Grupos</h2>
        <div class="groups">
            <a href="{% url 'app:form_crear_grupos'%}"> Crear Grupos</a>
            <a href="{% url 'app:ver_lista_grupos'%}"> Listado de Grupos</a>
        </div>

    </div>

    <div class="btnProfesores">
        <div class="btnTeachers">
            <h2>Profesores</h2>
            <div class="teachers">
                <a href="{% url 'app:crear_profesor'%}"> Crear Docente</a>
                <a href="{% url 'app:lista_docentes'%}"> Listado Docentes</a>
            </div>
        </div>
    </div>
    
    <div class="btnEstudiantes">
        <h2>Estudiantes</h2>
        <div class="students">
            <a href="{% url 'app:form_crear_estudiante'%}"> Crear Estudiante</a>
            <a href="{% url 'app:listado_estudiantes'%}"> Listado de Estudiantes</a>

        </div>

    </div>
</div>
{% endblock %}  