{% extends "app/base.html" %}

{% block nombre %}     
<title>Crear Profesor</title> 
{% endblock %}

{% block nombre_usuario%}
    <h2>ADMINISTRADOR</h2>
{% endblock %}

{% block contenido %} 
<div class="contenido">

    <form class="crearProfesor" action="{% url 'app:crear_profesor' %}" method ="POST">
        {% csrf_token %}
        <h1>Creación de Docentes:</h1>
        
        <label for="apellidos" >Apellidos: *</label>
        <input type="text" name="apellidos">
        
        <label for="nombres">Nombres: *</label>
        <input type="text" id="nombres" name="nombres">
        
        <label for="email" >Email: *</label>
        <input type="text" id="email" name="email">
        
        <label class="catedraCP">¿Es profesor de cátedra? *</label>

        <div class="catedra">
            <select name="catedra" class="selectEstudiante">
                <option value=1>Si</option>
                <option value=0>No</option>
            </select>
        </div>

        <label class="contraseñaCP">Ingrese contraseña nueva: *</label>
        <input type="password">
        
        <label class="confirmContraseñaCP">Confirme contraseña nueva: *</label>
        <input type="password" name="password">

        <button class="agrProf">Agregar Docente</button>
        <a href="{% url 'app:administrador'%}" class="resetAgr">cerrar</a>
    </form>
</div>

{% endblock %} 


{% block menu %}
<div class="menu">
    <div class="btnGrupos">
        <h2>Grupos</h2>
        <div class="groups">
            <a href="{% url 'app:form_crear_grupos'%}"> Crear Grupo</a>
            <a href="{% url 'app:ver_lista_grupos'%}"> Listado de Grupos</a>
        </div>

    </div>

    <div class="btnProfesores">
        <div class="btnTeachers">
            <h2>Profesores</h2>
            <div class="teachers">
                <a href="{% url 'app:form_crear_profesor'%}"> Crear docente</a>
                <a href="{% url 'app:lista_docentes'%}"> Listado Docentes</a>
            </div>
        </div>
    </div>
    
    <div class="btnEstudiantes">
        <h2>Estudiantes</h2>
        <div class="students">
            <a href="{% url 'app:form_crear_estudiante'%}"> Crear Estudiante</a>
            <a href="{% url 'app:listado_estudiantes'%}"> Listado Estudiantes</a>

        </div>

    </div>
</div>
{% endblock %}  