{% extends "app/base.html" %}

{% block nombre %}     
<title>Eliminar Grupo</title> 
{% endblock %}

{% block nombre_usuario%}
    <h2>ADMINISTRADOR</h2>
{% endblock %}

{% block contenido %} 
<div class="contenido">
    {% comment %}
        <!-- AGREGAR ESTUDIANTE A GRUPO -->
    {% endcomment %}

    <div id="agregarEstudiante" class="agregarEstudiante">
        <h2>¿Que estudiante desea agregar al grupo de "{{grupo.asignatura}}"?</h2>
        <br>
        <select name="estudiantes" class="selectEstudiante">
            {% for estudiante in estudiantes %}
            <option value="{{estudiante.user_id}}">nombre del estudiante</option>
            {% endfor %}
        </select>

        <div class="btn_agregar_estudiante">
            <a class="addStudent">Agregar Estudiante</a>
            <a href="{% url 'app:ver_lista_grupos'%}">Cerrar</a>
        </div>
    </div>
</div>
{% endblock %} 


{% block menu %}
<div class="menu">
    <div class="btnGrupos">
        <h2>Grupos</h2>
        <div class="groups">
            <a href="{% url 'app:form_crear_grupos'%}"> Crear Grupos</a>
            <a href="{% url 'app:ver_lista_grupos'%}"> Listado de Grupos</a>    
        </div>

    </div>

    <div class="btnProfesores">
        <div class="btnTeachers">
            <h2>Profesores</h2>
            <div class="teachers">
                <a href="{% url 'app:crear_profesor'%}"> Crear Docente</a>
                <a href="{% url 'app:lista_docentes'%}"> Listado Docentes</a>
            </div>
        </div>
    </div>
    
    <div class="btnEstudiantes">
        <h2>Estudiantes</h2>
        <div class="students">
            <a href="{% url 'app:form_crear_estudiante'%}"> Crear Estudiante</a>
            <a href="{% url 'app:listado_estudiantes'%}"> Listado Estudiantes</a>

        </div>

    </div>
</div>
{% endblock %}  

