{% extends "app/base.html" %}

{% block nombre %}     
<title>Crear Grupo</title> 
{% endblock %}

<!-- {% block nombre_usuario%}
    <h2>ADMINISTRADOR</h2>
{% endblock %} -->

{% comment %}
    CONTENIDO
{% endcomment %}


{% block contenido %} 
<div class="contenido">
    <form  class="crearGrupo" action="{% url 'app:crear_grupo' %}" method ="POST">
        {% csrf_token %}
        <h1>Crear un grupo:</h1>
        <br>
        <label for="codigo">Código de grupo: * </label>
        <input type="text" id="codigo" name="codigo">
        <br>
        <label for="asignatura">Asignatura: * </label>
        <input type="text" id="asignatura" name="asignatura">
        <br>
        <label for="semestre">Semestre: * </label>
        <input type="text" id="semestre" name="semestre">
        <br>
        <select name="profesores" class="selectProfe">

            {% for p in profesor %}
            <option value="{{p.user_id}}">{{p.user.first_name}} {{p.user.last_name}}</option>
            {% endfor %}

        </select>
        <br>
        <div class="botonesCreaGrupo">
            <button>Guardar</button> 
            <a href="{% url 'app:administrador'%}">Cerrar</a>   
        </div>
    </form>
</div>
{% endblock %} 

{% block menu %}
<div class="menu">
    <div class="btnGrupos">
        <h2>Grupos</h2>
        <div class="groups">
            <a href="{% url 'app:form_crear_grupos'%}"> Crear Grupo</a>
            <a href="{% url 'app:ver_lista_grupos'%}"> Listado de Grupos</a>
        </div>

    </div>

    <div class="btnProfesores">
        <div class="btnTeachers">
            <h2>Profesores</h2>
            <div class="teachers">
                <a href="{% url 'app:crear_profesor'%}"> Crear Docente</a>
                <a href="{% url 'app:lista_docentes'%}"> Listado Docentes</a>
            </div>
        </div>
    </div>
    
    <div class="btnEstudiantes">
        <h2>Estudiantes</h2>
        <div class="students">
            <a href="{% url 'app:form_crear_estudiante'%}"> Crear Estudiante</a>
            <a href="{% url 'app:listado_estudiantes'%}"> Listado Estudiantes</a>

        </div>

    </div>
</div>
{% endblock %}  