{% extends "app/base.html" %}
{% block nombre %}     
<title>Area Docentes</title> 
{% endblock%}       
<!-- -----------------------------------fin perfil------------------------------------------ -->
<!----------------------------------contenido---------------------------------------------------- -->
{% block contenido %}        
<div class="contenido">
    <h1 class="titulo">Sección de docente</h1>
    <h2 class ="subtitulo"> Bienvenidos</h2>
    <hr>    
    <h1>Editar Actividad</h1>
    <p> En esta seccion vamos a poder Editar una actividad para la seccion de los docentes donde un profesor 
        va a poder crear una entrega para sus alumnos de una actividad como un taller, tarea, parcial o de un foro participativo.
        la cual va a ser calificada por el docente en otra seccion de la pagina.
    </p>
    <br>
    <h1>Clase: {{ materia1.asignatura }}</h1>
    <h4>Codigo: {{ materia1.codigo }}</h4>
    <h2>Semestre: {{ materia1.semestre }}</h2>
    <br><br>
    <form action="{% url 'app:crear_actividad' %}" method="POST">
        {% csrf_token %}
        <label>Editar Actividad :</label>
        <input type="text" name="descripcion">
        <button>Editar Actividad</button>
    </form>
<br><br>
    <table>
        <thead>
            <tr>
                <th>Id actividad</th>
                <th>Descripcion</th>
                <th>Grupo</th>
            </tr>
        </thead>
        <tbody>
            {% for actividad in materia1.actividades.all %}
            <tr>
                <td>{{ actividad.id }}</td>
                <td>{{ actividad.descripcion }}</td>
                <td>{{ actividad.grupo }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>
</div>
{% endblock%}            

<!-- ---------------------------------- fin contenido--------------------------------------- -->
<!----------------------------------------menu---------------------------------------------- -->
{% block menu%}       
<div class="menu">
    <div id="sidebar">
        <h2>Menu</h2>
        <ul>  
            <li> <a href="{% url 'app:docente'  %}">Mas informacion</a></li>
            <li><a href="{% url 'app:profe_crear_actividad'  %}">Crear Actividad</a></li>
            <li><a href="{% url 'app:profe_editar_actividad'  %}">Editar Actividad</a></li>  
            <li><a href="{% url 'app:profe_ver_actividad'  %}">ver actividad</a></li>
            <li> <a href="{% url 'app:profe_calificar_actividad'  %}">Calificar Actividad</a></li>
            <li><a href="{% url 'app:profe_verlista_grupos'  %}">Ver lista de grupos</a></li>
            <li><a href="{% url 'app:profe_ver_lista_grupo'  %}">Ver grupo</a></li>       
            <li><a href="{% url 'app:profe_ver_estudiante'  %}">Ver estudiante</a></li>  
        </ul>
    </div>
</div> 
{% endblock%}  
<!-- -----------------------------------------------fin del menu---------------------------- -->
      