{%  load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperación</title>
    <link rel="stylesheet" href="{% static  'app/css/estilo3.css' %}">
</head>
<body>
    <div class="caja"> 
        <img class="avatar" src="{% static  'app/img/sol.png' %}" alt="logo">
        <h1> Password Recovery </h1>
        <h2>Step 1</h2>
        <form>
            <label for="username">Inserte su nombre de usuario</label>
            <input type="text" placeholder="enter username">

            <label for="">Email</label>
            <input type="email"placeholder="enter email">

            <input type="submit" value="Mandar correo" >
            <br>
            <br>


        </form>
    </div>
</body>
</html>