{% extends "app/base.html" %}

{% block nombre %}     
<title>Listado Cursos</title> 
{% endblock %}

{% block nombre_usuario%}
    <h2>ADMINISTRADOR</h2>
{% endblock %}


{% block contenido %}
<div class="contenido">
    <h2>LISTADO DE GRUPOS {{ver_grupo_admin.asignatura}}</h2>

    <table class="tabla"> 
        <thead>
            <tr>
                <th>SEMESTRE</th>
                <th>CÓDIGO</th>
                <th>ASIGNATURA</th>
                <th>CANTIDAD ESTUDIANTES</th>
            </tr>
        </thead>
        
        {% for grupo in listado_grupos1 %}
            <tr>
                <td>{{grupo.semestre}}</td>
                <td>{{grupo.codigo}}</td>
                <td>{{grupo.asignatura}} </td>
                <td>{{grupo.cantidad_estu}} </td>
            </tr>
            {% endfor %}
    </table>

    <a href="{% url 'app:administrador' %}">Volver</a>
</div>


{% endblock %}