{% extends "app/base.html" %}
{% load static %}
{% block nombre %}     
<title>Area Docentes</title> 
{% endblock%}

<!-- -----------------------------------fin perfil------------------------------------------ -->
<!----------------------------------contenido---------------------------------------------------- -->
{% block contenido %}    
<div class = contenido>
    <h1 class="titulo">Sección docentes</h1>
    <h2 class ="subtitulo"> Bienvenidos</h2>
    <hr>
    <p> En esta seccion vamos a poder crear una actividad para la seccion de los docentes donde un profesor 
        va a poder crear una entrega para sus alumnos de una actividad como un taller, tarea, parcial o de un foro participativo.
        la cual va a ser calificada por el docente en otra seccion de la pagina.
    </p>
    <br>
    <hr>
    <h1>Crear actividad </h1>
    
    <p>Permite a un profesor crear una actividad. Los datos para crear la actividad son:
        el id de la actividad y el id del grupo
    </p>
    <h4> Si el docente lo desea puede crear una de las actividades ya predeterminadas de las cuales 
        puede escoger taller,tarea, parcial, foro de opinion, quiz.
    </h4>
    <br>
    <h1>Asignatura : {{ actividad.materia }}</h1>
    <hr>
    <h2>Semestre : {{ actividad.semestre }}</h2>
    <h4>Codigo del grupo: {{ actividad.codigogrupo}}</h4>

    <p> Formulario </p>
    <br>
    <h1>Actividades</h1>
    <table>
        <thead>
            <th>Actividad</th>
            <th>Corte</th>
            <th>Descripccion de la actividad</th>
            <th>Fecha de la Actividad</th>
        </thead>
        <tbody>
            {% for actividadprofe in actividad.clases1.all %}
                <tr>
                    <td>{{ actividadprofe.nombre_actividad }}</td>
                    <td>{{ actividadprofe.corte }}</td>
                    <td>{{ actividadprofe.descripcion }}</td>
                    <td>{{ actividadprofe.fecha_creacion }}</td>
                
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <a href="{% url 'app:profe_crearactividad'  %}"> <input type="submit" value="volver" ></a>
    <br><br>
</div>
{% endblock%}         
<!-- ---------------------------------- fin contenido--------------------------------------- -->
<!----------------------------------------menu---------------------------------------------- -->
{% block menu %}        
<div class="menu">
    <div id="sidebar">
        <h2>Menu</h2>
        <ul>  
            <li> <a href="{% url 'app:docente'  %}">Mas informacion</a></li>
            <li><a href="{% url 'app:profe_crearactividad'  %}">Crear Actividad</a></li>
            <li><a href="{% url 'app:profe_editar'  %}">Editar Actividad</a></li>  
            <li><a href="{% url 'app:profe_vergrupos'  %}">ver actividad</a></li>
            <li> <a href="{% url 'app:profe_calificar'  %}">Calificar Actividad</a></li>
            <li><a href="{% url 'app:profe_vergrupo'  %}">Ver lista de grupos</a></li>
            <li><a href="{% url 'app:profe_vergrupos'  %}">Ver grupo</a></li>       
            <li><a href="{% url 'app:profe_verestudiante'  %}">Ver estudiante</a></li>  
        </ul>
    </div>
</div>
{% endblock%}          
<!-- -----------------------------------------------fin del menu---------------------------- -->
