{% extends "app/base.html" %}
{% load static %}
{% block nombre %}     
<title>Area docente</title> 
{% endblock%}

<!-- -----------------------------------fin perfil------------------------------------------ -->
<!----------------------------------contenido---------------------------------------------------- -->
{% block contenido %}  
<div class="contenido">
    <h1 class="titulo">Sección de Docente</h1>
    <h2 class ="subtitulo"> Bienvenidos</h2>
    <hr>
    <p> En esta seccion vamos a poder ver la lista de estudiantes para la seccion de los docentes 
        donde un profesor va a poder va poder ver la lista de  alumnos de una actividad
        la cual va a ser calificada por el docente en otra seccion de la pagina.
    </p>
    <br>
    <hr>
    <h1>Clase: {{ materia.asignatura }}</h1>
    <h4>Codigo: {{ materia.codigo }}</h4>
    <h2>Semestre: {{ materia.semestre }}</h2>
    <hr>
<br>
{% if materia.grupos.count > 0 %}
    <h1>Lista de estudiantes</h1>
    <p>a continuacion vamos a ver una lista de estudiantes inscritos en el curso para este semestre.
    </p>
    <br><br>
    <table>
        <thead>
            <tr>
                <th>Nombre estudiante</th>
                <th>Apellido estudiante</th>
                <th>Correo Institucional</th>
            </tr>
        </thead>
        <tbody>
            {% for actividad in materia.grupos.all %}
            <tr>
                <td>{{ actividad.estudiante.user.first_name }}</td>
                <td> {{ actividad.estudiante.user.last_name }}</td>
                <td> {{ actividad.estudiante.user.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <br><br><hr><br>
    {% if materia.actividades.count > 0 %}
    <h1>Lista de actividades</h1>
    <p>a continuacion vamos a ver una lista de actividades presentadas por el docente
        durante el transcurso del semestre.
    </p>
    <table>
        <thead>
            <tr>
                <th>Descripccion</th>
                <th>Grupo</th>
            </tr>
        </thead>
        <tbody>
            {% for actividad in materia.actividades.all %}
            <tr>
                <td>{{ actividad.descripcion }}</td>
                <td>{{ actividad.grupo.codigo }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>
    {% endif %}
<a href="{% url 'app:docente'  %}">Volver</a> 
<br> <br>
</div>
{% endblock%}             
<!-- ---------------------------------- fin contenido--------------------------------------- -->
<!----------------------------------------menu---------------------------------------------- -->
{% block menu%}       
<div class="menu">
    <div id="sidebar">
        <h2>Menu</h2>
        <ul>  
            <li> <a href="{% url 'app:docente'  %}">Mas informacion</a></li>
            <li><a href="{% url 'app:profe_crear_actividad'  %}">Crear Actividad</a></li>
            <li><a href="{% url 'app:profe_editar_actividad'  %}">Editar Actividad</a></li>  
            <li><a href="{% url 'app:profe_ver_actividad'  %}">ver actividad</a></li>
            <li> <a href="{% url 'app:profe_calificar_actividad'  %}">Calificar Actividad</a></li>
            <li><a href="{% url 'app:profe_verlista_grupos'  %}">Ver lista de grupos</a></li>
            <li><a href="{% url 'app:profe_ver_lista_grupo'  %}">Ver grupo</a></li>       
            <li><a href="{% url 'app:profe_ver_estudiante'  %}">Ver estudiante</a></li>  
        </ul>
    </div>
</div> 
{% endblock%}  

<!-- -----------------------------------------------fin del menu---------------------------- -->