{% extends "app/base.html" %}

{% block nombre %}     
<title>Listado Estudiantes</title> 
{% endblock %}

{% block nombre_usuario%}
    <h2>ADMINISTRADOR</h2>
{% endblock %}


{% block contenido %}
<div class="contenido">
    <div class="listado">
        <h2>LISTADO DE ESTUDIANTES DEL GRUPO</h2>

        <table class="tabla1"> 
            <thead>
                <tr>
                    <th>APELLIDOS</th>
                    <th>NOMBRES</th>
                    <th>EMAIL</th>
                </tr>
            </thead>
    
            <tr>
                <td>{{estudiantes.apellidos}} </td>
                <td>{{estudiantes.nombres}}</td>
                <td>{{estudiantes.email}} </td>
            </tr>
        </table>
        <a href="{% url 'app:ver_grupos_admin' %}" class="volver">Volver</a>
    </div>
    
</div>


{% endblock %}