{% extends "app/base.html" %}
{% block nombre %}     
<title>Area Docentes</title> 
{% endblock%}
<!-- -----------------------------------fin perfil------------------------------------------ -->
<!----------------------------------contenido---------------------------------------------------- -->
{% block contenido %} 
<div class="contenido">
    <h1 class="titulo">Sección de docente</h1>
    <h2 class ="subtitulo"> Bienvenidos</h2>
    <hr>    
    <h1>Ver Actividad</h1>
    <h2>Actividades Propuestas por el docente</h2>
    <p>Las actividades propuestas por el docente en las clases se veran aca con su respectiva calificacion
        sin embargo si alguna actividad sale sin completar actualice el sistema.
    </p>
    <h1>Asignatura : {{ materias.materia }}</h1>
    <hr>
    <h2>Semestre : {{ materias.semestre }}</h2>
    <h2>Codigo del grupo: {{ materias.codigogrupo }}</h2>
    <h4>A continuacion vamos a ver la lista de alumnos y sus respectivas notas en el periodo academico 
        de acuerdo a la materia que correspondan.
    </h4>
    <h1>lista de alumnos inscritos</h1>
    <table>
        <thead>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Nota definitiva</th>       
        </thead>
        <tbody>
            {% for Lista_alumnos in materias.clases3.all %}
                <tr>
                    <td>{{ Lista_alumnos.nombre }}</td>
                    <td>{{ Lista_alumnos.apellido }}</td>
                    <td>{{ Lista_alumnos.correo }}</td>
                    <td>{{ Lista_alumnos.notadef }}</td>
                </tr>
            {% endfor %}
        </tbody>    
        </table>
    <br> 
    <p> A continuacion vamos a ver las notas de cada una de las actividades que 
        el profesor a designado en su espacio academico
    </p>
    <table>
        <thead>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>nota actividad 1</th>
            <th>nota actividad 2</th>
            <th>nota actividad 3</th>
            <th>nota actividad 4</th>
            <th>nota Parcial</th>
        </thead>
        <tbody>
            {% for Lista_alumnos in materias.clases3.all %}
            <tr>
                <td>{{ Lista_alumnos.apellido }}</td>
                <td>{{ Lista_alumnos.nombre }}</td>
                <td>{{ Lista_alumnos.nota1 }}</td>
                <td>{{ Lista_alumnos.nota2 }}</td>
                <td>{{ Lista_alumnos.nota3 }}</td>
                <td>{{ Lista_alumnos.nota4 }}</td>
                <td>{{ Lista_alumnos.nota5 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{% url 'app:estudiante'  %}"> <input type="submit" value="Volver" ></a>
    <br><br>
</div>       
{% endblock%}               
<!-- ---------------------------------- fin contenido--------------------------------------- -->
<!----------------------------------------menu---------------------------------------------- -->
{% block menu %}  
<div class="menu">
    <div id="sidebar">
        <h2>Menu</h2>
        <ul>  
            <li> <a href="{% url 'app:docente'  %}">Mas informacion</a></li>
            <li><a href="{% url 'app:profe_crearactividad'  %}">Crear Actividad</a></li>
            <li><a href="{% url 'app:profe_editar'  %}">Editar Actividad</a></li>  
            <li><a href="{% url 'app:profe_vergrupos'  %}">ver actividad</a></li>
            <li> <a href="{% url 'app:profe_calificar'  %}">Calificar Actividad</a></li>
            <li><a href="{% url 'app:profe_vergrupo'  %}">Ver lista de grupos</a></li>
            <li><a href="{% url 'app:profe_vergrupos'  %}">Ver grupo</a></li>       
            <li><a href="{% url 'app:profe_verestudiante'  %}">Ver estudiante</a></li>  
        </ul>
    </div>
</div>      
{% endblock%}              
<!-- -----------------------------------------------fin del menu---------------------------- -->
      