{%  load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="{% static  'app/css/estilo2.css' %}">
</head>
<body>
    <div class="login-box"> 
        <img class="avatar" src="{% static  'app/img/sol.png' %}" alt="logo">
        <h1> Log In</h1>
        
        <form action="{% url 'app:iniciar_sesion' %}" method="POST">
                {% csrf_token %}
                <label> Nombre de usuario </label><br>
            <input type="text" placeholder="Enter username" name="username">
                <br>
                <br>
                <label> Contraseña </label><br>
            <input type="password" placeholder="Enter password" name="password">
                <br>
                <br>
                <button>Iniciar Sesión</button>
                <br>
                <br>
                <a href="{% url 'app:emergencia' %}">¿olvidaste tu contraseña?</a> 
                <br>
                {% if error %}
                <span class="error">{{error}}</span>
                {% endif %}
        </form>
    
    </div>
</body>
</html>