{% extends "app/base.html" %}
{% block nombre %}     
<title>Area Docentes</title> 
{% endblock%}
<!-- -----------------------------------fin perfil------------------------------------------ -->
<!----------------------------------contenido---------------------------------------------------- -->
{% block contenido %}     
<div class="contenido">
    <h1 class="titulo">Sección de docente</h1>
    <h2 class ="subtitulo"> Bienvenidos</h2>
    <hr>    
    <h1>Ver Actividad</h1>
<p> A continuacion va a visualizar los grupos de acorde con la actividad, y los estudiantes del grupo y que presentaron la Actividad</p>
    
<hr>

<h2>Busqueda realizada:</h2>

    <h1> Grupos asignados </h1> 
    <br>
    <p>los grupos a su cargo son los siguientes, por favor espere a que carguen si da click en la pestaña de ver sobre la tabla podra ver una 
        lista de los alumnos que pertenecen al curso, ademas de poder ver su nota actual sobre el total del curso.
    </p>
    <br>
    <br>
    <table>
        <thead>
            <th>Semestre</th>
            <th>Asignatura </th>
            <th>codigo</th>
            <th>Lista estudiantes</th>
        </thead>
        {% for ver in materias %}
        <tbody>
            <td>
                {% if ver.semestre %}
                {{ ver.semestre }}
                {% endif %}
            </td>
            <td>
                {% if ver.asignatura %}
                {{ ver.asignatura }}
                {% endif %}
            </td>
            <td>
                {% if ver.codigo %}
                {{ ver.codigo }}
                {% endif %}
            </td>
            <td>
                <a href="{% url 'app:ver' ver.id %}"><i class="fas fa-users"></i></a>
            </td>
        </tbody>
        {% endfor %}
    </table>
<br><br>
    
</div>
{% endblock%} 
<!-- ---------------------------------- fin contenido--------------------------------------- -->
<!----------------------------------------menu---------------------------------------------- -->
{% block menu%}       
<div class="menu">
    <div id="sidebar">
        <h2>Menu</h2>
        <ul>  
            <li> <a href="{% url 'app:docente'  %}">Mas informacion</a></li>
            <li><a href="{% url 'app:profe_crear_actividad'  %}">Crear Actividad</a></li>
            <li><a href="{% url 'app:profe_editar_actividad'  %}">Editar Actividad</a></li>  
            <li><a href="{% url 'app:profe_ver_actividad'  %}">ver actividad</a></li>
            <li> <a href="{% url 'app:profe_calificar_actividad'  %}">Calificar Actividad</a></li>
            <li><a href="{% url 'app:profe_verlista_grupos'  %}">Ver lista de grupos</a></li>
            <li><a href="{% url 'app:profe_ver_lista_grupo'  %}">Ver grupo</a></li>       
            <li><a href="{% url 'app:profe_ver_estudiante'  %}">Ver estudiante</a></li>  
        </ul>
    </div>
</div> 
{% endblock%}  
<!-- -----------------------------------------------fin del menu---------------------------- -->