{% extends "app/base.html" %}
{% load static %}
{% block nombre %}     
<title>Area Docentes</title> 
{% endblock%}

<!-- -----------------------------------fin perfil------------------------------------------ -->
<!----------------------------------contenido---------------------------------------------------- -->
{% block contenido %}    
<div class = contenido>
    <h1 class="titulo">Sección de docente</h1>
    <h2 class ="subtitulo"> Bienvenidos</h2>
    <hr>
    <p> En esta seccion vamos a poder crear una actividad para la seccion de los docentes donde un profesor 
        va a poder crear una entrega para sus alumnos de una actividad como un taller, tarea, parcial o de un foro participativo.
        la cual va a ser calificada por el docente en otra seccion de la pagina.
    </p>
    <br>
    <hr>
    <h1>Calificar actividad </h1>
    
    <p>Permite a un profesor crear una actividad. Los datos para crear la actividad son:
        el id de la actividad y el id del grupo
    </p>
    <h4> Si el docente lo desea puede crear una de las actividades ya predeterminadas de las cuales 
        puede escoger taller,tarea, parcial, foro de opinion, quiz.
    </h4>
    <br>
    <table>
        <thead>
            <th>Semestre</th>
            <th>Codigo</th>
            <th> Asignatura </th>
            <th>Calificar Actividad</th>
            
        </thead>
        {% for calificar in materias2 %}
        <tbody>
            <td>
                {% if calificar.semestre %}
                {{ calificar.semestre }}
                {% endif %}
            </td>
            <td>
                {% if calificar.codigo %}
                {{ calificar.codigo }}
                {% endif %}
            </td>
            <td>
                {% if calificar.asignatura %}
                {{ calificar.asignatura }}
                {% endif %}
            </td>
            <td>
                <a href="{% url 'app:calificar' calificar.id %}"><i class="fas fa-user-edit"></i></a>
            </td>
        </tbody>
        {% endfor %}
    </table>
<br><br>
</div>
{% endblock%}         

<!-- ---------------------------------- fin contenido--------------------------------------- -->
<!----------------------------------------menu---------------------------------------------- -->
{% block menu%}       
<div class="menu">
    <div id="sidebar">
        <h2>Menu</h2>
        <ul>  
            <li> <a href="{% url 'app:docente'  %}">Mas informacion</a></li>
            <li><a href="{% url 'app:profe_crear_actividad'  %}">Crear Actividad</a></li>
            <li><a href="{% url 'app:profe_editar_actividad'  %}">Editar Actividad</a></li>  
            <li><a href="{% url 'app:profe_ver_actividad'  %}">ver actividad</a></li>
            <li> <a href="{% url 'app:profe_calificar_actividad'  %}">Calificar Actividad</a></li>
            <li><a href="{% url 'app:profe_verlista_grupos'  %}">Ver lista de grupos</a></li>
            <li><a href="{% url 'app:profe_ver_lista_grupo'  %}">Ver grupo</a></li>       
            <li><a href="{% url 'app:profe_ver_estudiante'  %}">Ver estudiante</a></li>  
        </ul>
    </div>
</div> 
{% endblock%}  
<!-- -----------------------------------------------fin del menu---------------------------- -->
