{% extends "app/base.html" %}
{%  load static %}
{% block nombre %}     
<title>Area Docentes</title> 
{% endblock%}
<!-- -----------------------------------fin perfil------------------------------------------ -->
<!----------------------------------contenido---------------------------------------------------- -->
{% block contenido %}        
<div class="contenido">
    <h1 class="titulo">Sección de docentes</h1>
    <h2 class ="subtitulo"> Bienvenidos</h2>
<hr>
    <h1> Lista de Grupos asignados </h1> 
    <br>
    <p> al insertar el id del grupo permite a un profesor ver la información de un grupo asignado al profesor. Los datos requeridos para ver el grupo son:</p>
    <table>
        <thead>
            <th>Semestre</th>
            <th>Codigo</th>
            <th> Asignatura </th>
        </thead>
        {% for calificar in materias2 %}
        <tbody>
            <td>
                {% if calificar.semestre %}
                {{ calificar.semestre }}
                {% endif %}
            </td>
            <td>
                {% if calificar.codigo %}
                {{ calificar.codigo }}
                {% endif %}
            </td>
            <td>
                {% if calificar.asignatura %}
                {{ calificar.asignatura }}
                {% endif %}
            </td>
        </tbody>
        {% endfor %}
    </table>
    
    
</div>
{% endblock%}              

<!-- ---------------------------------- fin contenido--------------------------------------- -->
<!----------------------------------------menu---------------------------------------------- -->
{% block menu%}       
<div class="menu">
    <div id="sidebar">
        <h2>Menu</h2>
        <ul>  
            <li> <a href="{% url 'app:docente'  %}">Mas informacion</a></li>
            <li><a href="{% url 'app:profe_crear_actividad'  %}">Crear Actividad</a></li>
            <li><a href="{% url 'app:profe_editar_actividad'  %}">Editar Actividad</a></li>  
            <li><a href="{% url 'app:profe_ver_actividad'  %}">ver actividad</a></li>
            <li> <a href="{% url 'app:profe_calificar_actividad'  %}">Calificar Actividad</a></li>
            <li><a href="{% url 'app:profe_verlista_grupos'  %}">Ver lista de grupos</a></li>
            <li><a href="{% url 'app:profe_ver_lista_grupo'  %}">Ver grupo</a></li>       
            <li><a href="{% url 'app:profe_ver_estudiante'  %}">Ver estudiante</a></li>  
        </ul>
    </div>
</div> 
{% endblock%}  

<!-- -----------------------------------------------fin del menu---------------------------- -->
