{% extends "app/base.html" %}
{% load static %}
{% block nombre %}     
<title>Area estudiante</title> 
{% endblock%}

<!-- -----------------------------------fin perfil------------------------------------------ -->
<!----------------------------------contenido---------------------------------------------------- -->
{% block contenido %}  
<div class="contenido">
    <h1 class="titulo">Sección de docente</h1>
    <h2 class ="subtitulo"> Bienvenidos</h2>
    <hr>
    <p> En esta seccion vamos a poder crear una actividad para la seccion de los docentes donde un profesor 
        va a poder crear una entrega para sus alumnos de una actividad como un taller, tarea, parcial o de un foro participativo.
        la cual va a ser calificada por el docente en otra seccion de la pagina.
    </p>
    <br>
    <hr>
    <h1>Crear actividad </h1>

    <p>Permite a un profesor crear una actividad. Los datos para crear la actividad son:
        el id de la actividad y el id del grupo.
    </p>
    <br>
    <table>
        <thead>
            <th>Semestre</th>
            <th> Asignatura </th>
            <th>Codigo</th>
            <th>Crear Actividad</th>
        </thead>
        {% for materia in materias %}
        <tbody>
            <td>
                {% if materia.semestre %}
                {{ materia.semestre }}
                {% endif %}
            </td>
            <td>
                {% if materia.asignatura %}
                {{ materia.asignatura }}
                {% endif %}
            </td>
            <td>
                {% if materia.codigo %}
                {{ materia.codigo }}
                {% endif %}
            </td>
            <td>
                <a href="{% url 'app:materia' materia.id %}"><i class="fas fa-pencil-alt"></i></a>
            </td>
        </tbody>
        {% endfor %}
    </table>
<br><br>
<a href="{% url 'app:docente'  %}">Volver</a> 
<br> <br>
</div>
{% endblock%}             
<!-- ---------------------------------- fin contenido--------------------------------------- -->
<!----------------------------------------menu---------------------------------------------- -->
{% block menu%}       
<div class="menu">
    <div id="sidebar">
        <h2>Menu</h2>
        <ul>  
            <li> <a href="{% url 'app:docente'  %}">Mas informacion</a></li>
            <li><a href="{% url 'app:profe_crear_actividad'  %}">Crear Actividad</a></li>
            <li><a href="{% url 'app:profe_editar_actividad'  %}">Editar Actividad</a></li>  
            <li><a href="{% url 'app:profe_ver_actividad'  %}">ver actividad</a></li>
            <li> <a href="{% url 'app:profe_calificar_actividad'  %}">Calificar Actividad</a></li>
            <li><a href="{% url 'app:profe_verlista_grupos'  %}">Ver lista de grupos</a></li>
            <li><a href="{% url 'app:profe_ver_lista_grupo'  %}">Ver grupo</a></li>       
            <li><a href="{% url 'app:profe_ver_estudiante'  %}">Ver estudiante</a></li>  
        </ul>
    </div>
</div> 
{% endblock%}  
<!-- -----------------------------------------------fin del menu---------------------------- -->