{% extends "app/base.html" %}
{% block nombre %}     
<title>Area docente</title> 
{% endblock%}
<!-- -----------------------------------fin perfil------------------------------------------ -->
<!----------------------------------contenido---------------------------------------------------- -->
{% block contenido %}  
<div class="contenido">
    <h1 class="titulo">Sección de Docente</h1>
    <h2 class ="subtitulo"> Bienvenidos</h2>
    <h1> Buscar Estudiante </h1> 
    <hr>
    <br>
    <p> al insertar el id del grupo y del estudiante le permite a un profesor ver la información de un grupo asignado al profesor. Los datos requeridos para ver la información del estudiante son:</p>
    <p>En la siguiente pagina vamos a poder visualisar la informacion de los 
        grupos del docente en la cual vamos a poder la informacion respectiva de los 
        alumnos inscritos en las clases.
    </p>
    <br>
    <table>
        <thead>
            <th>Semestre</th>
            <th>Codigo</th>
            <th>Asignatura </th>

            <th>Lista Estudiantes</th>
        </thead>
        {% for lista2 in materias %}
        <tbody>
            <td>
                {% if lista2.semestre %}
                {{ lista2.semestre }}
                {% endif %}
            </td>
            <td>
                {% if lista2.codigo %}
                {{ lista2.codigo }}
                {% endif %}
            </td>
            <td>
                {% if lista2.asignatura %}
                {{ lista2.asignatura }}
                {% endif %}
            </td>
            <td>
                <a href="{% url 'app:lista2' lista2.id %}"><i class="fas fa-address-book"></i></a>
            </td>
        </tbody>
        {% endfor %}
    </table>>
</div>
{% endblock%}       

<!-- ---------------------------------- fin contenido--------------------------------------- -->
<!----------------------------------------menu---------------------------------------------- -->
{% block menu%}       
<div class="menu">
    <div id="sidebar">
        <h2>Menu</h2>
        <ul>  
            <li> <a href="{% url 'app:docente'  %}">Mas informacion</a></li>
            <li><a href="{% url 'app:profe_crear_actividad'  %}">Crear Actividad</a></li>
            <li><a href="{% url 'app:profe_editar_actividad'  %}">Editar Actividad</a></li>  
            <li><a href="{% url 'app:profe_ver_actividad'  %}">ver actividad</a></li>
            <li> <a href="{% url 'app:profe_calificar_actividad'  %}">Calificar Actividad</a></li>
            <li><a href="{% url 'app:profe_verlista_grupos'  %}">Ver lista de grupos</a></li>
            <li><a href="{% url 'app:profe_ver_lista_grupo'  %}">Ver grupo</a></li>       
            <li><a href="{% url 'app:profe_ver_estudiante'  %}">Ver estudiante</a></li>  
        </ul>
    </div>
</div> 
{% endblock%}  
<!-- -----------------------------------------------fin del menu---------------------------- -->
       