{% extends "app/base.html" %}
{% block nombre %}     
<title>Area Docentes</title> 
{% endblock%}
<!-- -----------------------------------fin perfil------------------------------------------ -->
<!----------------------------------contenido---------------------------------------------------- -->
{% block contenido %}    
<div class="contenido">
    <h1 class="titulo">Sección de docentes</h1>
    <h2 class ="subtitulo"> Bienvenidos</h2>
<hr>
    <h1>Ver grupo como profesor</h1>
    <p>En la siguiente pagina vamos a poder visualisar la informacion de los 
        grupos del docente en la cual vamos a poder la informacion respectiva de los 
        alumnos inscritos en las clases.
    </p>
    <br>
    <table>
        <thead>
            <th>Semestre</th>
            <th>Codigo</th>
            <th>Asignatura </th>
            <th>Lista Estudiantes</th>
        </thead>
        {% for lista in materias %}
        <tbody>
            <td>
                {% if lista.semestre %}
                {{ lista.semestre }}
                {% endif %}
            </td>
            <td>
                {% if lista.codigo %}
                {{ lista.codigo }}
                {% endif %}
            </td>
            <td>
                {% if lista.asignatura %}
                {{ lista.asignatura }}
                {% endif %}
            </td>
            <td>
                <a href="{% url 'app:lista' lista.id %}"><i class="fas fa-user-friends"></i></a>
            </td>
        </tbody>
        {% endfor %}
    </table>
    

</div>

{% endblock%}              

</div>
<!-- ---------------------------------- fin contenido--------------------------------------- -->
<!----------------------------------------menu---------------------------------------------- -->
{% block menu%}       
<div class="menu">
    <div id="sidebar">
        <h2>Menu</h2>
        <ul>  
            <li> <a href="{% url 'app:docente'  %}">Mas informacion</a></li>
            <li><a href="{% url 'app:profe_crear_actividad'  %}">Crear Actividad</a></li>
            <li><a href="{% url 'app:profe_editar_actividad'  %}">Editar Actividad</a></li>  
            <li><a href="{% url 'app:profe_ver_actividad'  %}">ver actividad</a></li>
            <li> <a href="{% url 'app:profe_calificar_actividad'  %}">Calificar Actividad</a></li>
            <li><a href="{% url 'app:profe_verlista_grupos'  %}">Ver lista de grupos</a></li>
            <li><a href="{% url 'app:profe_ver_lista_grupo'  %}">Ver grupo</a></li>       
            <li><a href="{% url 'app:profe_ver_estudiante'  %}">Ver estudiante</a></li>  
        </ul>
    </div>
</div> 
{% endblock%}       
<!-- -----------------------------------------------fin del menu---------------------------- -->