{% extends "app/base.html" %}
{% load static %}
{% block nombre %}     
<title>Area Docentes</title> 
{% endblock%}
<!-- -----------------------------------fin perfil------------------------------------------ -->
<!----------------------------------contenido---------------------------------------------------- -->
{% block contenido %}        
<div class="contenido">
    <h1 class="titulo">Sección de docente</h1>
    <h2 class ="subtitulo"> Bienvenidos</h2>
    <hr>    
    <h1>Editar Actividad</h1>
    <p> En esta seccion vamos a poder Editar una actividad para la seccion de los docentes donde un profesor 
        va a poder crear una entrega para sus alumnos de una actividad como un taller, tarea, parcial o de un foro participativo.
        la cual va a ser calificada por el docente en otra seccion de la pagina.
    </p>
    <br>
    <table>
        <thead>
            <th>Semestre</th>
            <th>Codigo</th>
            <th> Asignatura </th>
            <th>Editar Actividad</th>
            
        </thead>
        {% for editar in materias %}
        <tbody>
            <td>
                {% if editar.semestre %}
                {{ editar.semestre }}
                {% endif %}
            </td>
            <td>
                {% if editar.codigo %}
                {{ editar.codigo }}
                {% endif %}
            </td>
            <td>
                {% if editar.asignatura %}
                {{ editar.asignatura }}
                {% endif %}
            </td>
            <td>
                <a href="{% url 'app:editar' editar.id %}"><i class="far fa-edit"></i></a>
            </td>
        </tbody>
        {% endfor %}
    </table>
<br><br>
<hr>
</div>
{% endblock%}                

<!-- ---------------------------------- fin contenido--------------------------------------- -->
<!----------------------------------------menu---------------------------------------------- -->
{% block menu%}       
<div class="menu">
    <div id="sidebar">
        <h2>Menu</h2>
        <ul>  
            <li> <a href="{% url 'app:docente'  %}">Mas informacion</a></li>
            <li><a href="{% url 'app:profe_crear_actividad'  %}">Crear Actividad</a></li>
            <li><a href="{% url 'app:profe_editar_actividad'  %}">Editar Actividad</a></li>  
            <li><a href="{% url 'app:profe_ver_actividad'  %}">ver actividad</a></li>
            <li> <a href="{% url 'app:profe_calificar_actividad'  %}">Calificar Actividad</a></li>
            <li><a href="{% url 'app:profe_verlista_grupos'  %}">Ver lista de grupos</a></li>
            <li><a href="{% url 'app:profe_ver_lista_grupo'  %}">Ver grupo</a></li>       
            <li><a href="{% url 'app:profe_ver_estudiante'  %}">Ver estudiante</a></li>  
        </ul>
    </div>
</div> 
{% endblock%}  
<!-- -----------------------------------------------fin del menu---------------------------- -->
        