{% extends "app/base.html" %}
{% block nombre %}     
<title>Area Docentes</title> 
{% endblock%}
<!-- -----------------------------------fin perfil------------------------------------------ -->
<!----------------------------------contenido---------------------------------------------------- -->
{% block contenido %}     
<div class="contenido">
    <h1 class="titulo">Sección de docente</h1>
    <h2 class ="subtitulo"> Bienvenidos</h2>
<h2>Busqueda realizada:</h2>

    <h1> Grupos asignados </h1> 
    <p>los grupos a su cargo son los siguientes, por favor espere a que carguen si da click en la pestaña de ver sobre la tabla podra ver una 
        lista de los alumnos que pertenecen al curso, ademas de poder ver su nota actual sobre el total del curso.
    </p>
    <hr>
    <h1>Clase: {{ materia.asignatura }}</h1>
    <h4>Codigo: {{ materia.codigo }}</h4>
    <h2>Semestre: {{ materia.semestre }}</h2>
    {% if materia.grupos.count > 0 %}
    <h1>Lista de estudiantes</h1>
    <p>a continuacion vamos a ver una lista de estudiantes inscritos en el curso para este semestre.
    </p>
    <br><br>
    <table>
        <thead>
            <tr>
                <th>Nombre estudiante</th>
                <th>Apellido estudiante</th>
                <th>Correo Institucional</th>
                <th>Nota</th>
            </tr>
        </thead>
        <tbody>
            {% for actividad in materia.grupos.all %}
            <tr>
                <td>{{ actividad.estudiante.user.first_name }}</td>
                <td> {{ actividad.estudiante.user.last_name }}</td>
                <td> {{ actividad.estudiante.user.email }}</td>
                <td>{{ actividad.nota.valor }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
<br><br>
</div>
{% endblock%} 
<!-- ---------------------------------- fin contenido--------------------------------------- -->
<!----------------------------------------menu---------------------------------------------- -->
{% block menu%}       
<div class="menu">
    <div id="sidebar">
        <h2>Menu</h2>
        <ul>  
            <li> <a href="{% url 'app:docente'  %}">Mas informacion</a></li>
            <li><a href="{% url 'app:profe_crear_actividad'  %}">Crear Actividad</a></li>
            <li><a href="{% url 'app:profe_editar_actividad'  %}">Editar Actividad</a></li>  
            <li><a href="{% url 'app:profe_ver_actividad'  %}">ver actividad</a></li>
            <li> <a href="{% url 'app:profe_calificar_actividad'  %}">Calificar Actividad</a></li>
            <li><a href="{% url 'app:profe_verlista_grupos'  %}">Ver lista de grupos</a></li>
            <li><a href="{% url 'app:profe_ver_lista_grupo'  %}">Ver grupo</a></li>       
            <li><a href="{% url 'app:profe_ver_estudiante'  %}">Ver estudiante</a></li>  
        </ul>
    </div>
</div> 
{% endblock%}  

<!-- -----------------------------------------------fin del menu---------------------------- -->