{% extends "app/administrador.html" %}

{% block nombre %}     
<title>Listado Estudiantes</title> 
{% endblock %}

{% block nombre_usuario%}
    <h2>ADMINISTRADOR</h2>
{% endblock %}

{% block contenido %} 
<div class="contenido">
    {% comment %}
        <!-- VER LISTA ESTUDIANTES -->
    {% endcomment %}

    <div id="verListaEstudiantes" class="verListaEstudiantes">
        <h3>LISTA DE ESTUDIANTES</h3>
        <br>
        <table >
            <thead>
                <tr>
                    <th>APELLIDOS</th>
                    <th>NOMBRES</th>
                    <th>EMAIL</th>
                </tr>
            </thead>
            {% for estudiante in lista_estudiantes_grupos %}
            <tr>
                <td>{{estudiante.apellidos}}</td>
                <td>{{estudiante.nombres}}</td>
                <td>{{estudiante.email}} </td>
            </tr>
            {% endfor %}
        </table>

        <a href="{% url 'app:administrador'%}" class="resetListaEstu">Cerrar</a>

    </div>

</div>
{% endblock %} 


{% block menu %}
<div class="menu">
    <div class="btnGrupos">
        <h2>Grupos</h2>
        <div class="groups">
            <a href="{% url 'app:form_crear_grupos'%}"> Crear Grupos</a>
            <a href="{% url 'app:ver_lista_grupos'%}"> Listado de Grupos</a>
        </div>

    </div>

    <div class="btnProfesores">
        <div class="btnTeachers">
            <h2>Profesores</h2>
            <div class="teachers">
                <a href="{% url 'app:crear_profesor'%}"> Crear Docente</a>
                <a href="{% url 'app:lista_docentes'%}"> Listado Docentes</a>
            </div>
        </div>
    </div>
    
    <div class="btnEstudiantes">
        <h2>Estudiantes</h2>
        <div class="students">
            <a href="{% url 'app:form_crear_estudiante'%}"> Crear Estudiante</a>
            <a href="{% url 'app:listado_estudiantes'%}"> Listado Estudiantes</a>

        </div>

    </div>
</div>
{% endblock %}  