{% extends "app/base.html" %}

{% block nombre %}     
<title>Ver Grupos</title> 
{% endblock %}

{% block nombre_usuario%}
    <h2>ADMINISTRADOR</h2>
{% endblock %}

{% block contenido %} 
<div class="contenido">

    {% comment %}
        <!-- VER GRUPOS COMO ADMINISTRADOR -->
    {% endcomment %}

    <div id="verGrupo" class="verGrupo">
        <div class="idVerGrupo">
            <h2>GRUPO {{grupo.id}}</h2>
            <br>
        </div>

        <table class="tabla" id="tabla">
            <thead>
                <tr>
                    <th>CÓDIGO DE GRUPO</th>
                    <th>ASIGNATURA</th>
                    <th>SEMESTRE</th>
                    <th>PROFESOR</th>
                </tr>

            </thead>
            
            <tbody>
            <tr>
                <td>{{grupo.codigo}} </td>
                <td>{{grupo.asignatura}}</td>
                <td>{{grupo.semestre}}</td>
                <td>{{grupo.profesor}} </td>
            </tr>
            </tbody>
        </table>
        
        <table class="tabla2" id="tabla">
            <thead>
                <tr>
                    <th>Apellidos</th>
                    <th>Nombres</th>
                    <th>Correo Electrónico</th>
                </tr>

            </thead>
            
            <tbody>
            <tr>
                <td>Filtro para estudiantes de solamente este curso. </td>
            </tr>
            </tbody>
        </table>

        <a href="{% url 'app:ver_lista_grupos'%}" class="resetVerGroup">Cerrar</a>
    </div>
</div>
{% endblock %}  



{% block menu %}
<div class="menu">
    <div class="btnGrupos">
        <h2>Grupos</h2>
        <div class="groups">
            <a href="{% url 'app:form_crear_grupos'%}"> Crear Grupos</a>
            <a href="{% url 'app:ver_lista_grupos'%}"> Listado de Grupos</a>
        </div>

    </div>

    <div class="btnProfesores">
        <div class="btnTeachers">
            <h2>Profesores</h2>
            <div class="teachers">
                <a href="{% url 'app:crear_profesor'%}"> Crear Doncente</a>
                <a href="{% url 'app:lista_docentes'%}"> Listado Docentes</a>
            </div>
        </div>
    </div>
    
    <div class="btnEstudiantes">
        <h2>Estudiantes</h2>
        <div class="students">
            <a href="{% url 'app:form_crear_estudiante'%}"> Crear Estudiante</a>
            <a href="{% url 'app:listado_estudiantes'%}"> Listado Estudiantes</a>

        </div>

    </div>
</div>
{% endblock %}  