{% extends "app/base.html" %}

{% block nombre %}     
<title>Listado Grupos</title> 
{% endblock %}

{% block nombre_usuario%}
    <h2>ADMINISTRADOR</h2>
{% endblock %}

{% block contenido %} 
<div class="contenido">

    {% comment %}
        VER LISTA GRUPOS
    {% endcomment %}

    <div id="verListaGrupos" class="verListaGrupos">
        <h3 class="h3">LISTADO DE GRUPOS</h3>
        <br>
        <table>
            <thead>
                <tr>
                    <th>Código de Grupo</th>
                    <th>Asignatura</th>
                    <th>Profesor</th>
                    <th>Cantidad Estudiantes</th>
                </tr>

                </thead>

            <tbody>
                {% for grupo in groups %}
                <tr>
                    <td>{{grupo.codigo}} </td>
                    <td>{{grupo.asignatura}}</td>
                    <td>{{grupo.profesor}} </td>
                    <td>filtro para contar cantidad de estudiantes de cada curso </td>
                    <td> <a href="{% url 'app:form_editar_grupo_admi' grupo.id %}" title="editar grupo" class="icon"><i class="fas fa-edit"></i></a> </td>
                    <td> <a href="{% url 'app:ver_grupo_admin' grupo.id %}" title="ver grupo" class="icon"><i class="fas fa-eye"></i></a> </td>
                    <td> <a href="{% url 'app:eliminar_grupos_admin' grupo.id %}" title="eliminar grupo" class="icon_red"><i class="fas fa-trash-alt"></i></a> </td>
                    <td> <a href="{% url 'app:form_agregar_estudiante_grupo' grupo.id %}" title="agregar estudiante" class="icon_green"><i class="fas fa-user-plus"></i></a> </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
        <div>
            <a href="{% url 'app:administrador'%}" class="btnVerListaGrupo">Cerrar</a>
        </div>
    </div>
</div>
{% endblock %} 


{% block menu %}
<div class="menu">
    <div class="btnGrupos">
        <h2>Grupos</h2>
        <div class="groups">
            <a href="{% url 'app:form_crear_grupos'%}"> Crear Grupo</a>
            <a href="{% url 'app:ver_lista_grupos'%}"> Listado de Grupos</a>
        </div>

    </div>

    <div class="btnProfesores">
        <div class="btnTeachers">
            <h2>Profesores</h2>
            <div class="teachers">
                <a href="{% url 'app:crear_profesor'%}"> Crear Docente</a>
                <a href="{% url 'app:lista_docentes'%}"> Listado Docentes</a>
            </div>
        </div>
    </div>
    
    <div class="btnEstudiantes">
        <h2>Estudiantes</h2>
        <div class="students">
            <a href="{% url 'app:form_crear_estudiante'%}"> Crear Estudiante</a>
            <a href="{% url 'app:listado_estudiantes'%}"> Listado Estudiantes</a>
        </div>

    </div>
</div>
{% endblock %}  