{% extends "app/base.html" %}

{% block nombre %}     
<title>Listado Docentes</title> 
{% endblock %}

{% block nombre_usuario%}
    <h2>ADMINISTRADOR</h2>
{% endblock %}

{% block contenido %} 
<div class="contenido">
    {% comment %}
        <!-- VER LISTA PROFESORES -->
    {% endcomment %}

    <div id="verListaProfesores" class="verListaProfesores">
        <h3>LISTA DE PROFESORES</h3> 
        <br>
        <table>
            <thead>
                <tr>
                    <th>APELLIDOS</th>
                    <th>NOMBRES</th>
                    <th> EMAIL</th>
                    <th></th>
                </tr>
            </thead>


            {% for docente in docentes %}
            <tr>
                <td>{{docente.last_name}}</td>
                <td>{{docente.first_name}}</td>
                <td>{{docente.email}} </td>
                <td><a href="#" title="Ver docente" class="icon"><i class="fas fa-eye"></i></a></td>
            </tr>
            {% endfor %}
        </table>
        <a href="{% url 'app:administrador'%}" class="resetVerLista">Cerrar</a>
    </div>

</div>
{% endblock %} 


{% block menu %}
<div class="menu">
    <div class="btnGrupos">
        <h2>Grupos</h2>
        <div class="groups">
            <a href="{% url 'app:form_crear_grupos'%}"> Crear Grupo</a>
            <a href="{% url 'app:ver_lista_grupos'%}"> Listado de Grupos</a>
        </div>

    </div>

    <div class="btnProfesores">
        <div class="btnTeachers">
            <h2>Profesores</h2>
            <div class="teachers">
                <a href="{% url 'app:form_crear_profesor'%}"> Crear Docente</a>
                <a href="{% url 'app:lista_docentes'%}"> Listado Docentes</a>
            </div>
        </div>
    </div>
    
    <div class="btnEstudiantes">
        <h2>Estudiantes</h2>
        <div class="students">
            <a href="{% url 'app:form_crear_estudiante'%}"> Crear Estudiante</a>
            <a href="{% url 'app:listado_estudiantes'%}"> Listado Estudiantes</a>
        </div>

    </div>
</div>
{% endblock %}  