{% extends "app/base.html" %}

{% block nombre %}     
<title>Docente</title> 
{% endblock %}

{% block nombre_usuario%}
    <h2>ADMINISTRADOR</h2>
{% endblock %}

{% block contenido %} 
<div class="contenido">

    {% comment %}
        VER DONCENTE
    {% endcomment %}

    <!-- VER PROFESOR -->
    <div id="verProfesor" class="verProfesor">
        <h3>VER PROFESOR</h3>
        <br>
        <label for="idProfesor">Indique el ID del profesor: </label>
        <input type="text" name="idProfesor">
        <button>Verificar</button>    
        <table >
            <thead>
                <tr>
                    <th>APELLIDOS</th>
                    <th>NOMBRES</th>
                    <th>EMAIL</th>
                    <th> LISTA DE CURSOS</th>
                </tr>

            </thead>
            {% for profe in listado_docentes %}
                <tr>
                    <td>{{ profe.apellidos }}</td>
                    <td>{{ profe.nombres }}</td>
                    <td>{{ profe.email }}</td>
                    <td><a href="{% url 'app:listadoGrupos'%}">CURSOS</a></td>
                </tr>
            {% endfor %}
            
            <tr></tr>
        </table>
        <a href="{% url 'app:administrador'%}" class="resetverProf">Cerrar</a>
    </div>
</div>
{% endblock %} 


{% block menu %}
<div class="menu">
    <div class="btnGrupos">
        <h2>Grupos</h2>
        <div class="groups">
            <a href="{% url 'app:crear_GrupoAdmi'%}"> CREAR GRUPOS</a>
            <a href="{% url 'app:editar_grupoAdmi'%}"> EDITAR GRUPOS</a>
            <a href="{% url 'app:ver_lista_grupos'%}"> LISTADO DE GRUPOS</a>
            <a href="{% url 'app:ver_grupos_admin'%}"> VER LISTA DE GRUPOS</a>
            <a href="{% url 'app:eliminar_grupos_admin'%}"> ELIMINAR GRUPO</a>
            <a href="{% url 'app:agregar_estudiante_grupo'%}"> AGREGAR ESTUDIANTE A GRUPO</a>
        </div>

    </div>

    <div class="btnProfesores">
        <div class="btnTeachers">
            <h2>Profesores</h2>
            <div class="teachers">
                <a href="{% url 'app:crear_profesor'%}"> CREAR PROFESOR</a>
                <a href="{% url 'app:lista_profesores'%}"> LISTADO DOCENTES</a>
                <a href="{% url 'app:ver_profesor'%}"> VER DOCENTE</a>
            </div>
        </div>
    </div>
    
    <div class="btnEstudiantes">
        <h2>Estudiantes</h2>
        <div class="students">
            <a href="{% url 'app:crear_estudiante'%}"> CREAR ESTUDIANTE</a>
            <a href="{% url 'app:listado_estudiantes'%}"> LISTADO ESTUDIANTES</a>
            <a href="{% url 'app:editar_estudiantes'%}"> EDITAR ESTUDIANTES</a>

        </div>

    </div>
</div>
{% endblock %}  