body{
    margin: 0;
    padding: 0;
    background: url(../img/fondo2.jpg); 
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}
.caja{
    width: 320px;
    height: 520px;
    background: #000;
    color: blanchedalmond;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px ;
}

.caja .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50%-50px);
}
.caja h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.caja label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.caja input{
    width: 100%;
    margin: 10px;
}

.caja input[type="text"],
.caja input[type="email"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.caja input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #384F7B;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.caja a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
    
}

.caja a:hover{
    color: #384F7B;
}