body{
    margin: 0;
    padding: 0;
    background: url(../img/imagen.jpg); 
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}
.login-box{
    width: 320px;
    height: 520px;
    background: #000;
    color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px ;
}

.error {
    border: 1px solid #9a0101;
    padding: 2px;
    color: #9a0101;
    background: #f7cfcf;
    font-style: italic;
    font-size: 0.7rem;
    margin-bottom: 10px;
}

.login-box .avatar{
    width: 100px;
    height: 100px;
    border-bottom: 50%;
    position: absolute;
    top: -50px;
    left: calc(50%-50px);
}
.login-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input{
    width: 100%;
    margin: 10px;
}

.login-box input[type="text"],
.login-box input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}


.login-box button {
    background: #46576a;
    border: 1px solid #46576a;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.login-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
    
}

.login-box button:hover{
    color: #000000;
}