body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}
.contenedor{
    font-family: 'Josefin Sans', sans-serif;
    background-image: linear-gradient(to left,   #ffffff, #eaf3fd); 
    width: 100%;
    height: 150vh;
    display: grid;
    grid-template: 0.1fr auto auto / 0.5fr 1fr 0.5fr;
    grid-template-areas: 
    "header header header"
    "perfil  contenido menu"
    "footer footer footer";
    grid-gap: 4px;
}
.ul .li{
    text-decoration: none;
}



/* PERFIL */
.perfil{
    background-color: #E6E0E0;
    border-left: 10px solid #0D8AF0;
    color: #0D8AF0;
    width: 95%;
    box-shadow:5px 10px 4px gray;
    border-radius: 15px 15px 15px 15px;
    grid-area: perfil;
    display: grid;
    grid-template: 0.5fr 1fr / 1fr;
    grid-template-areas: 
    "seccionUno"
    "seccionDos";
}

.seccionUno{
    position: relative;
    top: 10px;
    grid-area: seccionUno;
    display: grid;
    grid-template: 1fr 0.3fr / 1fr;
    border-bottom: 1px solid white;

    border-bottom-width: 2px;
}
.seccionUno img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    justify-self: center;
    padding-top: 5px;
}
.seccionUno h2{
    font-size: 20px;
    color: #0D8AF0;
    justify-self: center;
    margin-bottom: 50px;
    
}
.seccionDos{
    padding-bottom: 300px;
    grid-area: seccionDos;
    display: grid;
    grid-template: 0.5fr 1fr/ 1fr;
}
.seccionDos a{
    background-image: linear-gradient(to left,   #284b66, #0b5791);
    border-bottom: 3px solid #0a2337;
    border-right: 3px solid #0a2337;
    width: 1fr;
    border-radius: 15px 15px 4px 4px;
    color: #ffffff;
    position: relative;
    top: 80px;
    padding: 20px;  
    letter-spacing: 0.5px;
    text-decoration: none;
    overflow: hidden;
    grid-template-columns: 1/2;
    justify-self: center;
    border-bottom: 1px solid #a3b5d6;
    box-shadow: 2px 2px 5px #0e1027;
}
.correo:hover{
    transition-delay: 0.1s;
    border-top: 3px solid #0a2337;
    border-left: 3px solid #0a2337;
    border-bottom: 0;
    border-right: 0;
}
#span2{
    position: absolute;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background:linear-gradient(170deg,transparent,#a3daee);
}
.correo:hover #span2{
    right: 100%;
    transition: 2s;
}
.aulas:hover{
    transition-delay: 0.1s;
    transition-delay: 0.1s;
    border-top: 3px solid #0a2337;
    border-left: 3px solid #0a2337;
    border-bottom: 0;
    border-right: 0;
}
#span3{
    position: absolute;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background:linear-gradient(170deg,transparent,#a3daee);
}
.aulas:hover #span3{
    right: 100%;
    transition: 2s;
}
.seccionDos h3{
    color: #ffffff;
    position: relative;
    top: 200px;
    left: 10px;

}
.seccionDos p{
    position: relative;
    top: 200px;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding-left: 20px;
    padding-right: 5px;
}





/* CONTENIDO */
.contenido{
    justify-self: center;
    font-family: 'Josefin Sans', sans-serif;
    grid-area: contenido;
    background-image: linear-gradient(to left,   #045592, #08395f);
    box-shadow: 3px 5px 10px #0b3352;
    border-radius: 15px 15px 15px 15px;
    border-top: 5px solid #0c67ad;
    border-bottom: 5px solid #0c67ad;
    text-align: center;
    width: 45em;
}

.contenido p{
    text-align: left;
}
.contenido .titulo{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 35px;
    }
    .contenido .subtitulo{
    text-align: center;
    }
    .contenido .texto{
    font-size: 16px;
    text-align: left;
    }
    .contenido h3{
        text-align: left;
    }
    

/* CREAR GRUPO FORM*/
.crearGrupo{

    position: relative;
    top: 50px;
    left: 140px;
    display: grid;
    grid-template-rows: 50px;
    grid-row-gap: 0.5rem;
    font-size: 18px;
    background: #ffffff;    
    padding: 10px;
    padding-bottom: 20px;
    color: #05253d;
    width: 500px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 10px 7px #05253d;
    border-right: 25px solid #0D8AF0;

}
.crearGrupo h1{
    color: #0D8AF0;
}
.crearGrupo input{
    background: #ebe9e9;
    border: none;
    border-bottom: 1px solid #396EA7;
    color: #2c2b2b;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 16px;
    border-radius: 5px 5px 5px 5px;
    justify-self: center;
    width: 80%;
}
input:focus{
    outline: none; 
}
.botonesCreaGrupo{
    position: relative;
    display: grid;
    grid-template: 1fr/0.5fr 0.5fr;
    width: 100%;
    padding: 5px;
}
.botonesCreaGrupo button{
    font-family: 'Josefin Sans', sans-serif;
    background: #4393ac;
    border-radius: 5px 5px 5px 5px;
    color: #F9FBFC;
    border-bottom: 3px solid #347285;
    border-right: 3px solid #347285;
}
.botonesCreaGrupo input:hover{
    border: 0;
    cursor: pointer;
    border-top: 3px solid #347285;
    border-left: 3px solid #347285;
    border-bottom: 0px;
    border-right: 0px;
    box-shadow: 0px 2px 2px #347285;
}
.crearGrupo select{
    background: #EBE9E9;
    width: 80%;
    height: 30px;
    justify-self: center;
    box-shadow: 0 5px 25px #4f4c4c;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.8em;
    padding: 0.5em 1em;
    border: 0;
}






/* INICIO EDITAR GRUPO */
.contenido_editGrupo {
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    width: 90%;
    top: 38px;
    left: 1.7em;
    background: #ffffff;
    padding: 10px;
    padding-bottom: 100px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 10px 7px #05253d;
    border-top: 10px solid #0D8AF0;
    display: grid;
    grid-template: auto auto auto / auto;
    grid-template-areas: 
    "titulo"
    "tabla"
    "botones_lista_grupos";
    grid-gap: 4px;
}
.contenido_editGrupo h2{
    grid-area: titulo;
    font-weight: 500;
    position: relative;
    color: #0D8AF0;
    font-size: 30px;
    justify-self: center;
    text-shadow: 2px 2px 4px #09406d;
}
.contenido_editGrupo table{
    grid-area: tabla;
    border-collapse: collapse;
    font-size: 14px;
    width: 100%;
}
.contenido_editGrupo thead tr{
    border-style: hidden;
    background-color: #0D8AF0;
    color: white;
}
.contenido_editGrupo th{
    padding: 7px;
    border-style: inset;
}
.contenido_editGrupo td{
    padding: 7px;
    background: #ebe9e9;
    border-style: none;
}
.contenido_editGrupo tr{
    border-style: none;
    border-bottom: 2px solid #353434;
    
}
.editarGrupo{
    justify-self: center;
    position: relative;
    top: 50px;
    display: grid;
    grid-template-rows: 50px;
    grid-row-gap: 0.5rem;
    font-size: 18px;
    background: #f2efef;    
    padding: 10px;
    padding-bottom: 20px;
    color: #05253d;
    width: 500px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 10px 7px #05253d;
    border-right: 25px solid #0D8AF0;
}
.editarGrupo h1{
    color: #0D8AF0;
}
.editarGrupo input{
    background: #ebe9e9;
    border: none;
    border-bottom: 1px solid #396EA7;
    color: #2c2b2b;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 16px;
    border-radius: 5px 5px 5px 5px;
    justify-self: center;
    width: 80%;
}
input:focus{
    outline: none; 
}
.btnEdiGrupo{
    position: relative;
    display: grid;
    grid-template: 1fr/0.5fr 0.5fr;
    width: 100%;
    padding: 5px;
}
.btnEdiGrupo input{
    font-family: 'Josefin Sans', sans-serif;
    background: #4393ac;
    border-radius: 5px 5px 5px 5px;
    color: #F9FBFC;
    border-bottom: 3px solid #347285;
    border-right: 3px solid #347285;
}
.btnEdiGrupo input:hover{
    cursor: pointer;
    border-top: 3px solid #347285;
    border-left: 3px solid #347285;
    border-bottom: 0px;
    border-right: 0px;
    box-shadow: 0px 2px 2px #347285;
}












/* INICIO VER LISTA GRUPOS */
.verListaGrupos{
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    width: 90%;
    top: 38px;
    left: 1.7em;
    background: #ffffff;
    padding: 10px;
    padding-bottom: 100px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 10px 7px #05253d;
    border-top: 10px solid #0D8AF0;
    display: grid;
    grid-template: auto auto auto / auto;
    grid-template-areas: 
    "titulo"
    "tabla"
    "botones_lista_grupos";
    grid-gap: 4px;
}
.h3{
    grid-area: titulo;
    font-weight: 500;
    position: relative;
    color: #0D8AF0;
    font-size: 30px;
    justify-self: center;
    text-shadow: 2px 2px 4px #09406d;
    
}
.verListaGrupos table{
    grid-area: tabla;
    justify-self: center;
    border-collapse: collapse;
    font-size: 14px;
    width: 95%;
    box-shadow:5px 10px 10px gray;
}
.verListaGrupos thead tr{
    border-style: hidden;
    background-color: #0D8AF0;
    color: white;
}
.verListaGrupos th{
    padding: 7px;
    border-style: inset;
}
.verListaGrupos td{
    padding: 7px;
    background: #ebe9e9;
    border-style: none;
}
.verListaGrupos tr{
    border-style: none;
    border-bottom: 2px solid #353434;
    
}
.icon{
    color: #0a5da1;
}
.icon_red{
    color: #831313;
}
.icon_green{
    color: #105716;
}
.btnVerListaGrupo{
    grid-area: botones_lista_grupos;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    top: 3em;
    border-radius: 4px 4px 4px 4px;
    background: #4393ac;
    color: #F9FBFC;
    padding: 7px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 1px 10px #031b2e;
    border-bottom: 3px solid #347285;
    border-right: 3px solid #347285;
}
.btnVerListaGrupo:hover{
    cursor: pointer;
    border-top: 3px solid #347285;
    border-left: 3px solid #347285;
    border-bottom: 0px;
    border-right: 0px;
    box-shadow: 0px 2px 2px #347285;
}








/* INICIO VER GRUPO COMO ADMI */
.verGrupo{
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    top: 40px;
    left: 7.8em;
    justify-items: center;
    background: #ffffff;    
    padding: 10px;
    padding-bottom: 4em;
    width: 30em;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 10px 7px #05253d;
    border-top: 10px solid #0D8AF0;
    display: grid;
    grid-template: auto auto auto auto/ 1fr;
    grid-template-areas: 
    " titulo "
    " tabla "
    " tabla2 "
    " resetVerGroup ";
    grid-gap: 6px;
    
}
.idVerGrupo{
    font-family: 'Josefin Sans', sans-serif;
    grid-area: titulo;
    justify-items: center;
}
.idVerGrupo h2{
    justify-items: center;
    font-family: 'Josefin Sans', sans-serif;
    color: #0c67ad;
    font-size: 25px;
}
.idVerGrupo h3{
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    left: 20px;
    color: #073355;
}
.idVerGrupo input{
    justify-items: center;
    font-family: 'Josefin Sans', sans-serif;
    background: #ebe9e9;
    border: none;
    border-radius: 5px 5px 5px 5px;
    border-bottom: 1px solid #396EA7;
    color: #2c2b2b;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 16px;
    border-radius: 5px 5px 5px 5px;
    justify-self: center;
    width: 100%;

}
.tabla{
    grid-area: tabla;
    position: relative;
    top: 20px;
    border-collapse: collapse;
    font-size: 14px;
    min-width: 400px;
    width: 95%;

}
.tabla thead tr{
    border-style: hidden;
    background-color: #0c67ad;
    color: white;

}
.tabla th{
    padding: 7px;
    border-style: inset;
}
.tabla td{
    padding: 7px;
    background: #ebe9e9;
    border-style: none;
}
.tabla tr{
    border-style: none;
    border-bottom: 2px solid #353434;
}
.tabla2{
    grid-area: tabla2;
    margin: 60px;
    border-collapse: collapse;
    font-size: 14px;
    min-width: 400px;
    width: 95%;

}
.tabla2 thead tr{
    border-style: hidden;
    background-color: #0c67ad;
    color: white;

}
.tabla2 th{
    padding: 7px;
    border-style: inset;
}
.tabla2 td{
    padding: 7px;
    background: #ebe9e9;
    border-style: none;
}
.tabla2 tr{
    border-style: none;
    border-bottom: 2px solid #353434;
}
.resetVerGroup{
    grid-area: resetVerGroup;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    top: 3em;
    height: 20px;
    border-radius: 4px 4px 4px 4px;
    background: #4393ac;
    color: #F9FBFC;
    padding: 7px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 1px 10px #031b2e;
    border-bottom: 3px solid #347285;
    border-right: 3px solid #347285;
}
.resetVerGroup:hover{
    cursor: pointer;
    border-top: 3px solid #347285;
    border-left: 3px solid #347285;
    border-bottom: 0px;
    border-right: 0px;
    box-shadow: 0px 2px 2px #347285;
}
.listado{
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    width: 90%;
    top: 38px;
    left: 1.4em;
    background: #ffffff;
    padding: 10px;
    padding-bottom: 190px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 10px 7px #05253d;
    border-top: 10px solid #0D8AF0;
}
.listado h2{
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    /* left: 220px; */
    color: #0c67ad;
    font-size: 25px;
    text-shadow:    1px 1px 1px #0a4e82,
                    1px 2px 1px #0a4e82,
                    1px 3px 1px #0a4e82,
                    1px 4px 1px #0a4e82,
                    1px 5px 1px #0a4e82,
                    1px 10px 6px rgb(16, 16, 16, 0.4),
                    1px 14px 10px rgb(16, 16, 16, 0.4),
                    1px 17px 35px rgb(16, 16, 16, 0.4),
                    1px 22px 60px rgb(16, 16, 16, 0.4);
}
.tabla1{
    position: relative;
    top: 20px;
    left: 17px;
    border-collapse: collapse;
    font-size: 14px;
    min-width: 400px;
    width: 95%;
}
.tabla1 thead tr{
    border-style: hidden;
    background-color: #0c67ad;
    color: white;

}
.tabla1 th{
    padding: 7px;
    border-style: inset;
}
.tabla1 td{
    padding: 7px;
    background: #ebe9e9;
    border-style: none;
}
.tabla1 tr{
    border-style: none;
    border-bottom: 2px solid #353434;
}
.volver{
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    top: 5em;
    border-radius: 4px 4px 4px 4px;
    background: #4393ac;
    color: #F9FBFC;
    padding: 7px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 1px 10px #031b2e;
    border-bottom: 3px solid #347285;
    border-right: 3px solid #347285;
}
.volver:hover{
    cursor: pointer;
    border-top: 3px solid #347285;
    border-left: 3px solid #347285;
    border-bottom: 0px;
    border-right: 0px;
    box-shadow: 0px 2px 2px #347285;
}







/* INICIO ELIMINAR GRUPO */
.eliminarGrupo{
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    top: 50px;
    left: 8em;
    font-size: 18px;
    background: #ffffff;
    color: #05253d;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 10px 7px #05253d;
    border-right: 25px solid #0D8AF0;
    display: grid;
    grid-template: auto auto auto auto / 1fr;
    grid-template-areas: 
    " titulo "
    " pregunta "
    " a2 "
    " a1 ";
    width: 500px;
}
.eliminarGrupo h1{
    grid-area: titulo;
    color: #0c67ad;
}
.eliminarGrupo h2{
    grid-area: pregunta;
    font-size: 25px;
}
.a2{
    grid-area: a2;
    text-decoration: none;
    color: #ffffff;
    width: 1fr;
    justify-self: center;
    position: relative;
    padding: 5px;
    width: 170px;
    box-shadow:7px 7px 20px gray;
    background: #0D8AF0;
    border: 1px;
    border-bottom: 3px solid #095da1;
    border-radius: 5px 5px 5px 5px;
    letter-spacing: 0.5px;
}
.a1{
    grid-area: a1;
    text-decoration: none;
    color: #0D8AF0;
    width: 1fr;
    justify-self: center;
    position: relative;
    padding: 5px;
    margin: 10px;
    width: 170px;
    box-shadow:7px 7px 20px gray;
    background: #ffffff;
    border: 1px;
    border-bottom: 3px solid #7abdf3;
    border-radius: 5px 5px 5px 5px;
    letter-spacing: 0.5px;
}
.opciones{
    grid-row: 3/4;
    position: relative;
    top: 50px;
}
.grupoEli{
    position: relative;
}
.botones{
    grid-row: 4/5;
}
.eliminar{
    position: relative;
    left: -5em;
    width: 20%;
    padding: 5px;
    font-family: 'Josefin Sans', sans-serif;
    background: #4393ac;
    border-radius: 5px 5px 5px 5px;
    color: #F9FBFC;
    border-bottom: 3px solid #347285;
    border-right: 3px solid #347285;
}
.eliminar:hover{
    cursor: pointer;
    border-top: 3px solid #347285;
    border-left: 3px solid #347285;
    border-bottom: 0px;
    border-right: 0px;
    box-shadow: 0px 2px 2px #347285;
}
.resetEliminarGroup{
    text-decoration: none;
    position: relative;
    left: 5em;
    width: 40%;
    padding: 5px;
    font-family: 'Josefin Sans', sans-serif;
    background: #4393ac;
    border-radius: 5px 5px 5px 5px;
    color: #F9FBFC;
    border-bottom: 3px solid #347285;
    border-right: 3px solid #347285;
}
.resetEliminarGroup:hover{
    cursor: pointer;
    border-top: 3px solid #347285;
    border-left: 3px solid #347285;
    border-bottom: 0px;
    border-right: 0px;
    box-shadow: 0px 2px 2px #347285;
}







/* AGREGAR ESTUDIANTES A GRUPOS */
.agregarEstudiante{
    position: relative;
    top: 50px;
    left: 7em;
    font-size: 18px;
    padding: 10px;
    background: #ffffff;    
    color: #05253d;
    width:  500px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 10px 7px #05253d;
    border-right: 25px solid #0D8AF0;
    display: grid;
    grid-template: auto auto auto auto / 1fr;
    grid-template-areas: 
    " hh2 "
    " estudiante "
    " grupo2 "
    " botones ";
}
.agregarEstudiante h2{
    grid-area: hh2;
    position: relative;
    padding: 8px;
    color: #0D8AF0;;
}
.selectEstudiante{
    grid-area: estudiante;
    padding: 8px;
    height: 100%;
    box-shadow: 5px 5px 7px #737577;
}
.selectEstudiante:hover{
    cursor: pointer;
}
.btn_agregar_estudiante{
    grid-area: botones;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-gap: 10px;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}
.addStudent{
    position: relative;
    left: 2.5em;
    width:70%;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    /* top: 5em; */
    border-radius: 4px 4px 4px 4px;
    background: #4393ac;
    color: #F9FBFC;
    padding: 7px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 1px 10px #031b2e;
    border-bottom: 3px solid #347285;
    border-right: 3px solid #347285;
}
.addStudent:hover{
    cursor: pointer;
    border-top: 3px solid #347285;
    border-left: 3px solid #347285;
    border-bottom: 0px;
    border-right: 0px;
    box-shadow: 0px 2px 2px #347285;
}





/* PROFESORES */
/* INICIO CREAR PROFESOR */
.crearProfesor{
    position: relative;
    top: 50px;
    left: 7.5em;
    font-size: 18px;
    background: #ffffff;    
    padding: 10px;
    color: #05253d;
    width: 500px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 10px 7px #05253d;
    border-right: 25px solid #0D8AF0;
    display: grid;
    grid-template: auto / 1fr;
    grid-area: 
    "uno";
    grid-gap: 0.3em;
}
.crearProfesor h1{
    color: #0D8AF0;
}
.crearProfesor input{
    width: 80%;
    justify-self: center;
    background: #ebe9e9;
    border: none;
    border-bottom: 1px solid #396EA7;
    color: #2c2b2b;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 16px;
    border-radius: 5px 5px 5px 5px;
}
input:focus{
    outline: none; 
}
.agrProf{
    text-decoration: none;
    font-weight: 500;
    margin: 1em;
    justify-self: center;
    font-family: 'Josefin Sans', sans-serif;
    background: #4393ac;
    border-radius: 5px 5px 5px 5px;
    color: #F9FBFC;
    border-bottom: 3px solid #347285;
    border-right: 3px solid #347285;
    padding: 10px;
    width: 37%;
}
.agrProf:hover{
    cursor: pointer;
    border-top: 3px solid #347285;
    border-left: 3px solid #347285;
    border-bottom: 0px;
    border-right: 0px;
    box-shadow: 0px 2px 2px #347285;
}
.resetAgr{
    text-decoration: none;
    font-weight: 900;
    margin: 1em;
    justify-self: center;
    font-family: 'Josefin Sans', sans-serif;
    background: #ffffff;
    border-radius: 5px 5px 5px 5px;
    color: #4393ac;
    border-bottom: 3px solid #347285;
    border-right: 3px solid #347285;
    padding: 5px;
    width: 37%;
}
.resetAgr:hover{
    cursor: pointer;
    border-top: 3px solid #347285;
    border-left: 3px solid #347285;
    border-bottom: 0px;
    border-right: 0px;
    box-shadow: 0px 2px 2px #347285;
}




/* INICIO VER LISTA PROFESORES */
.verListaProfesores{
    position: relative;
    top: 50px;
    left: 8em;
    font-size: 18px;
    background: #ffffff;    
    padding: 10px;
    color: #05253d;
    width: 500px;
    height: 80%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 10px 7px #05253d;
    border-top: 10px solid #0D8AF0;
    overflow: scroll;

}
.verListaProfesores h3{
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    left: 4.4em;
    color: #0D8AF0;
    font-size: 25px;
}
.verListaProfesores table{
    position: relative;
    left: 17px;
    border-collapse: collapse;
    font-size: 14px;
    min-width: 400px;
    width: 95%;
    
}
.verListaProfesores thead tr{
    border-style: hidden;
    background-color: #0c67ad;
    color: white;

    
}
.verListaProfesores th{
    padding: 7px;
    border-style: inset;

}
.verListaProfesores td{
    padding: 7px;
    background: #ebe9e9;
    border-style: none;
}
.verListaProfesores tr{
    border-style: none;
    border-bottom: 2px solid #353434;

}
.resetVerLista{
    position: relative;
    top: 5em;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 4px 4px 4px 4px;
    background: #4393ac;
    color: #F9FBFC;
    padding: 7px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 1px 10px #031b2e;
    border-bottom: 3px solid #347285;
    border-right: 3px solid #347285;
}
.resetVerLista:hover{
    cursor: pointer;
    border-top: 3px solid #347285;
    border-left: 3px solid #347285;
    border-bottom: 0px;
    border-right: 0px;
    box-shadow: 0px 2px 2px #347285;
}





/* INICIO VER PROFESOR */
.verProfesor{
    position: relative;
    top: 50px;
    left: 60px;
    font-size: 18px;
    background: #ffffff;    
    padding: 10px;
    padding-bottom: 200px;
    color: #05253d;
    width: 500px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 10px 7px #05253d;
    border-top: 25px solid #0D8AF0;

}
.verProfesor h3{
    position: relative;
    color: #0c67ad;
    font-size: 25px;
    left: 6.7em;
}
.verProfesor label{
    position: relative;
    font-size: 16px;
}
.verProfesor input{
    font-size: 16px;
    position: relative;
    background: none;
    border: none;
    border-bottom: 1px solid #396EA7;
    color: #0c67ad;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 16px;
}
.verProfesor button{
    position: relative;
    border-radius: 4px 4px 4px 4px;
    background: #0c67ad;
    color: white;
    border: 1px solid #0c67ad;
    width: 15%;
}
.verProfesor table{
    position: relative;
    left: 17px;
    top: 35px;
    border-collapse: collapse;
    font-size: 14px;
    min-width: 400px;
    width: 95%;
}
.verProfesor thead tr{
    border-style: hidden;
    background-color: #0c67ad;
    color: white;
}
.verProfesor th{
    padding: 7px;
    border-style: inset;
}
.verProfesor td{
    padding: 7px;
    background: #ebe9e9;
    border-style: none;
}
.verProfesor tr{
    border-style: none;
    border-bottom: 2px solid #353434;
}
.resetverProf{
    text-decoration: none;
    position: relative;
    top: 90px;
    border-radius: 4px 4px 4px 4px;
    background: #4393ac;
    color: #F9FBFC;
    padding: 7px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 1px 10px #031b2e;
    border-bottom: 3px solid #347285;
    border-right: 3px solid #347285;

}
.resetverProf:hover{
    cursor: pointer;
    border-top: 3px solid #347285;
    border-left: 3px solid #347285;
    border-bottom: 0px;
    border-right: 0px;
    box-shadow: 0px 2px 2px #347285;
}







/* INICIO CREAR ESTUDIANTE */
.crearEstudiante{
    position: relative;
    top: 50px;
    left: 7.5em;
    display: grid;
    grid-gap: 6px;
    font-size: 18px;
    background: #ffffff;    
    padding: 10px;
    padding-bottom: 20px;
    color: #05253d;
    width: 500px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 10px 7px #05253d;
    border-right: 25px solid #0D8AF0;
}
.crearEstudiante h1{
    color: #0D8AF0;
}
.crearEstudiante input{
    background: #ebe9e9;
    border: none;
    border-bottom: 1px solid #396EA7;
    color: #2c2b2b;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 16px;
    border-radius: 5px 5px 5px 5px;
    justify-self: center;
    width: 80%;

}
input:focus{
    outline: none; 
}
.creaEstu{
    position: relative;
    top: 31px;
    left: 3.5em;
    font-family: 'Josefin Sans', sans-serif;
    background: #4393ac;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
    color: #F9FBFC;
    border-bottom: 3px solid #347285;
    border-right: 3px solid #347285;
    width: 30%;
}
.creaEstu:hover{
    cursor: pointer;
    border-top: 3px solid #347285;
    border-left: 3px solid #347285;
    border-bottom: 0px;
    border-right: 0px;
    box-shadow: 0px 2px 2px #347285;
}

.resetCreaEstu{
    position: relative;
    top: 0px;
    left: 395px;
    padding: 5px;
    border-radius: 4px 4px 4px 4px;
    color: #164D78;
    width: 12%;
}








/* VER LISTA DE ESTUDIANTES */
.verListaEstudiantes{
        position: relative;
        font-family: 'Josefin Sans', sans-serif;
        width: 90%;
        top: 38px;
        left: 1.7em;
        background: #ffffff;
        padding: 10px;
        padding-bottom: 100px;
        border-radius: 15px 15px 15px 15px;
        box-shadow: 10px 10px 7px #05253d;
        border-top: 10px solid #0D8AF0;
        display: grid;
        grid-template: auto auto auto / auto;
        grid-template-areas: 
        "titulo"
        "tabla"
        "botones_lista_estu";
        grid-gap: 4px;
    }
.verListaEstudiantes h3{
    font-family: 'Josefin Sans', sans-serif;
    justify-self: center;
    color: #0D8AF0;
    font-size: 25px;
    text-shadow:    1px 1px 1px #0a4e82,
                    1px 2px 1px #0a4e82,
                    1px 3px 1px #0a4e82,
                    1px 4px 1px #0a4e82,
                    1px 5px 1px #0a4e82,
                    1px 10px 6px rgb(16, 16, 16, 0.4),
                    1px 14px 10px rgb(16, 16, 16, 0.4),
                    1px 17px 35px rgb(16, 16, 16, 0.4),
                    1px 22px 60px rgb(16, 16, 16, 0.4);
}
.verListaEstudiantes table{
    position: relative;
    left: 17px;
    border-collapse: collapse;
    font-size: 14px;
    min-width: 400px;
    width: 95%;    
}
.verListaEstudiantes thead tr{
    border-style: hidden;
    background-color: #0c67ad;
    color: white;
}
.verListaEstudiantes th{
    padding: 7px;
    border-style: inset;
}
.verListaEstudiantes td{
    padding: 7px;
    background: #ebe9e9;
    border-style: none;
}
.verListaEstudiantes tr{
    border-style: none;
    border-bottom: 2px solid #353434;
}

.resetVerLista{
    position: relative;
    top: 5em;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 4px 4px 4px 4px;
    background: #4393ac;
    color: #F9FBFC;
    padding: 7px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 1px 10px #031b2e;
    border-bottom: 3px solid #347285;
    border-right: 3px solid #347285;
}
.resetVerLista:hover{
    cursor: pointer;
    border-top: 3px solid #347285;
    border-left: 3px solid #347285;
    border-bottom: 0px;
    border-right: 0px;
    box-shadow: 0px 2px 2px #347285;
}




.resetListaEstu{
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    justify-self: center;
    position: relative;
    top: 5em;
    width: 30%;
    font-weight: 800;
    border-radius: 4px 4px 4px 4px;
    background: #4393ac;
    color: #F9FBFC;
    padding: 7px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 1px 10px #031b2e;
    border-bottom: 3px solid #347285;
    border-right: 3px solid #347285;
}
.resetListaEstu:hover{
    cursor: pointer;
    border-top: 3px solid #347285;
    border-left: 3px solid #347285;
    border-bottom: 0px;
    border-right: 0px;
    box-shadow: 0px 2px 2px #347285;
}








/* EDITAR UN ESTUDIANTE */
.editarEstudiante{
    position: relative;
    top: 50px;
    left: 60px;
    display: grid;
    grid-gap: 6px;
    font-size: 18px;
    background: #ffffff;    
    padding: 10px;
    padding-bottom: 20px;
    color: #05253d;
    width: 500px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 10px 7px #05253d;
    border-right: 25px solid #0D8AF0;

}
.editarEstudiante h1{
    color: #0D8AF0;
}
.editarEstudiante input{
    background: #ebe9e9;
    border: none;
    border-bottom: 1px solid #396EA7;
    color: #2c2b2b;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 16px;
    border-radius: 5px 5px 5px 5px;
    justify-self: center;
    width: 80%;

}
input:focus{
    outline: none; 
}
.guardar{
    position: relative;
    left: 3.5em;
    top: 2em;
    font-family: 'Josefin Sans', sans-serif;
    background: #4393ac;
    border-radius: 5px 5px 5px 5px;
    color: #F9FBFC;
    border-bottom: 3px solid #347285;
    border-right: 3px solid #347285;
    width: 20%;
}
.guardar:hover{
    cursor: pointer;
    border-top: 3px solid #347285;
    border-left: 3px solid #347285;
    border-bottom: 0px;
    border-right: 0px;
    box-shadow: 0px 2px 2px #347285;
}

.resetEditarEstu{
    position: relative;
    left: 20.6em;
    padding: 5px;
    width: 20%;
}



/* ------------------------------------------      MENU       ------------------------- */

.menu{
    grid-area: menu;
    display: grid;
    grid-template: auto auto auto/ 1fr;
    gap: 10px;
}
/* ---------------------menu estudiante---------------------------------------------------- */
#sidebar{
    background: #0C5D9C;
    top: 20px;
    width: 250px;
    position: relative;
    left: 30px;
    height: 445px;
    border-radius: 10px 10px 3px 3px;
    box-shadow:7px 7px 1px #100a2e;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    text-align: center;
}

#sidebar ul li{
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: inline-block;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    padding: 20px 10px; 
    line-height: normal;
    font-size: 15px;
    -webkit-transition: all 500 ms ease;
    transition: all 500 ms ease;
    text-align: center;
    padding: 15px 10px;
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
#sidebar .toggle-btn{
    position: absolute;
    left: 270px;
    top: 20px;
    cursor: pointer;
}
#sidebar ul li:hover{
    border-bottom: 5px solid #ffffff;  
}
/* .................................................................................... */
.btnGrupos{
    background-color: #f9f3f3;
    width: 80%;
    position: relative;
    left: 30px;
    border-radius: 10px 10px 3px 3px;
    box-shadow:7px 7px 1px gray;
    border-right: 10px solid #0D8AF0;
}
.btnGrupos h2{
    position: relative;
    left: 20px;
    color: #0D8AF0;
}
.groups{
    position: relative;
    left: 50px;
    display: grid;
    grid-gap: 10px;
    width: 50%;
}
.groups a{
    text-decoration: none;
    color: #ffffff;
    width: 170px;
    position: relative;
    left: -30px;
    padding: 5px;
    box-shadow:7px 7px 20px gray;
    background: #0D8AF0;
    border: 1px;
    border-bottom: 3px solid #095da1;
    border-radius: 5px 5px 5px 5px;
    letter-spacing: 0.5px;
}
.groups a:hover{
    border-top: 3px solid #095da1;
    border-left: 3px solid #095da1;
    border-bottom: 0;
    border-right: 0;
}

.btnTeachers{
    background-color: #f9f3f3;
    width: 80%;
    position: relative;
    left: 30px;
    border-radius: 3px 3px 3px 3px;
    box-shadow:7px 7px 1px gray;
    border-right: 10px solid #0D8AF0;
}
.btnTeachers h2{
    position: relative;
    left: 20px;
    color: #0D8AF0;
}
.teachers{
    position: relative;
    left: 50px;
    display: grid;
    grid-gap: 10px;
    width: 50%;
    padding-bottom: 1em;
}
.teachers a{
    text-decoration: none;
    color: #ffffff;
    width: 170px;
    position: relative;
    left: -30px;
    padding: 5px;
    box-shadow:7px 7px 20px gray;
    background: #0D8AF0;
    border: 1px;
    border-bottom: 3px solid #095da1;
    border-radius: 5px 5px 5px 5px;
    letter-spacing: 0.5px;
}
.teachers a:hover{
    border-top: 3px solid #095da1;
    border-left: 3px solid #095da1;
    border-bottom: 0;
    border-right: 0;
}


.btnEstudiantes{
    background-color: #f9f3f3;
    width: 80%;
    position: relative;
    height: 40%;
    top: -3em;
    left: 30px;
    border-radius: 3px 3px 10px 10px;
    padding-bottom: 110px;
    box-shadow:7px 7px 1px gray;
    border-right: 10px solid #0D8AF0;
}
.btnEstudiantes h2{
    position: relative;
    left: 20px;
    top: 20px;
    color: #0D8AF0;
}
.students{
    position: relative;
    left: 50px;
    top: 50px;
    display: grid;
    grid-gap: 10px;
    width: 65%;
}
.students a{
    text-decoration: none;
    color: #ffffff;
    width: 170px;
    position: relative;
    left: -30px;
    padding: 5px;
    box-shadow:7px 7px 20px gray;
    background: #0D8AF0;
    border: 1px;
    border-bottom: 3px solid #095da1;
    border-radius: 5px 5px 5px 5px;
    letter-spacing: 0.5px;
}
.students a:hover{
    border-top: 3px solid #095da1;
    border-left: 3px solid #095da1;
    border-bottom: 0;
    border-right: 0;
}
.footer{
    background: #0c67ad;
    grid-area: footer;
    color: white;
    font-size: 10 px;
}