.header{
    background-image: linear-gradient(to right,   #05263f, #0C64A7);
    grid-area: header;
    display: grid;
    grid-template: 50px / 1fr 1fr ;
    padding: 0px 15px 20px 15px;
    box-shadow: 3px 3px 3px gray;
    
}
.header img{

    padding-top: 15px;
    grid-row: 1/2;
    grid-column: 1/2;
    width: 300px;
    object-fit: cover;
    justify-self: start; 
    align-items: center;
}
.btn{
    font-family: 'Josefin Sans', sans-serif;
    margin-right: 1em;
    grid-row: 1/2;
    grid-column: 2/3;
    padding: 5px 13px 5px 13px;
    margin-top: 20px;
    color: #ffffff;
    font-family: sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    justify-self: end;
    align-self: center;
    border-radius: 5px 2px 5px 2px;  
}
.btn:hover{
    background: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    color: #071B2B;
    transition-delay: 0.1s;
}