table{
    position: relative;
    top: 0px;
    width: 100%;
    background-color: rgb(248, 248, 248);
    font-size: 14px;
    text-align: center;
    border-collapse: collapse;
}
th,td{
    border: solid 1px black;
    padding: 12px;
}
thead{
    background-color: #384F7B;
    color: white;
    border-bottom: 5px solid;
}
tr:nth-child(even){
    background-color: white;
}
tr:hover td{
    background-color: #9dafac;
    color: white;
}
td a{
text-decoration: none;
color: black;
}
